<!DOCTYPE html>
<html lang="ru" style = "scroll-behavior: smooth">


<script src="//code-ya.jivosite.com/widget/HTaOUSv1lx" async></script>
  <meta name="yandex-verification" content="8dd9562d899d634a" />
  <meta name="trustpilot-one-time-domain-verification-id" content="a7bdc3b7-e858-486d-a1f7-af6ca406cacb"/>
  <meta name="google-site-verification" content="CmtG2siuVUUUJ1eS8sMY7NiBnVWUyrqPmgdNudcDWN4" />
  <meta name="enot" content="3991649941790r6v1seubKLy6fwcQInglXBzsz-0Wz9xX" />
  <meta name="tpay-verification" content="cf5196c1861ab486ae0a3c3a590ef138" />
<title>{{ page['title'] }}</title>
<meta name="keywords" content="{{ site['seo_key'] }}">
<meta name="description" content="{{ site['seo_desc'] }}">
  {% if site['favicon'] %}
<link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
  {% endif %}
<head>
<meta http-equiv="Last-Modified" content="Sat, 06 Aug 2022 08:15:56 GMT">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ENN4Z7TJ8B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ENN4Z7TJ8B');
</script>
  <meta name="yandex-verification" content="8dd9562d899d634a" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="google-site-verification" content="CmtG2siuVUUUJ1eS8sMY7NiBnVWUyrqPmgdNudcDWN4" />
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/style/index-9.v3.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/style/header-9.css">
	<title>Document</title>
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/bootstrap/3.3.7/css/bootstrap.min-1.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/bootstrap/3.3.7/css/bootstrap-theme.min-1.css">-->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link
		href="https://cdn.rawgit.com/bread2077/temp/main/style/css2-1.css?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQff/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
   <!-- <script type="text/javascript" src="https://cdn.rawgit.com/bread2077/temp/main/plugins/slick/jquery.min-1.js"></script> --->



  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/plugins/slick/slick-1.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/plugins/slick/slick-theme.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/bread2077/temp/main/style/marginfix-9.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/style/login.css">

 <link rel="stylesheet" href="https://cdn.rawgit.com/bread2077/temp/main/style/hide.css">
</head>
  <script type="text/javascript" >
  var fired = false;

window.addEventListener('scroll', () => {
    if (fired === false) {
        fired = true;

        setTimeout(() => {
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
ym(45632151, "init", {
clickmap:true,
trackLinks:true,
accurateTrackBounce:true,
webvisor:true
});
            }, 1000)
    }
});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45632151" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  {% for style in site['styles'] %}
    <link rel="stylesheet" type="text/css" href="{{ style['href'] }}">
  {% endfor %}
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/style/marginfix-40.css">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/style/new-style.v3.css">
<body>
	<div class="container-fluid">
		<div class="top_bg"><img class="img-responsive"  style="max-height: 179px;  min-height:140px" src="https://cdn.rawgit.com/bread2077/temp/main/images/top_bg.png" alt=""></div>
		<header class="container">
			<div id="black__background"></div>
          {% if user['auth'] %}
          	<div class="d-flex menu">
				<div class="menu_left d-flex">
					<div onclick="location.href = '/';" class="menu__img d-flex" style="cursor: pointer">
						<img class="img-responsive mr-9px" src="https://cdn.rawgit.com/bread2077/temp/main/images/Logo_left.png" alt="">
						<h2 class="logo-title">SMM<span class="text_blue">PRIME</span></h2>
					</div>
					<ul class="menu__navs d-flex">
						<li class="menu__navs__link">
							<a href = "/">Новый заказ</a>
						</li>
						<li class="menu__navs__link">
							<a href = "/orders">История заказов </a>
						</li>
						<li class="menu__navs__link">
							<a href = "/services">Прайс</a>
						</li>
						<li class="adapt-hidden menu__navs__link">
							<a href = "/tickets">Поддержка</a>
						</li>
						<li class="li-last">
							<div class="hidden__mini" onclick="open__burg()">
								<div class="icon__div black"></div>
								<div class="icon__div m black"></div>
								<div class="icon__div m black"></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="right desktop-menu__item_position_right">
					<div class="menu__contacts d-flex">
                      <a href="/addfunds" class="price_title"><p class="price__balance-text">{{ user['balance_formatted'] }}</p></a>
						<button onclick="location.href = '/addfunds'" class="btnn red__button">Пополнить</button>
						<button onclick="location.href = '/logout'" class="btnn white__button m-logout">Выход</button>
					</div>
				</div>
				<div class="burger hide_elem">
					<div class="container">
						<div class="block__close__burg" onclick="close__burg()">
							<img src="https://cdn.rawgit.com/bread2077/temp/main/images/exit.png" alt="">
						</div>
						<div class="body__burg">
							<div><ul class="menu_navs">
                              {% for menu in site['menu']|slice(start, (site['menu']|length/2)|round(0, 'ceil')) %}
                      <!--<li class="menu_navs__link"><a href="{{ menu['link'] }}" class="body__burg__text">{{ menu['name'] }}</a></li>-->
                              <span class="{{ manu['icon'] }}"></span><li class="menu__navs__link body__burg__text"><a href="{{ menu['link'] }}">{{ menu['name'] }}</a></li>
          {% endfor %}
                              </ul>
							</div>
							<div><ul class="menu_navs">
                              {% for menu in site['menu']|slice((site['menu']|length/2)|round(0, 'ceil'), length) %}
                      <li class="menu__navs__link body__burg__text">
                        <a href="{{ menu['link'] }}">{{ menu['name'] }}</a>
                      </li>
          {% endfor %}
                              </ul>
							</div>
						</div>

					</div>
					<div class="container no-line">
						<div class="body__set">
							<a href="/account">
								<img src="https://cdn.rawgit.com/bread2077/temp/main/images/settings.png" alt="">
								<span>Настройки</span>
							</a>
						</div>
					</div>
				</div>
				<div class="menu__phone">
					<div class="block__close" onclick="close__phone__menu()">
                      <a href='/addfunds' class="price_title pull-left" style="padding-left:34px;"><p class="price__balance-text">{{ user['balance_formatted'] }}</p></a>
						<img class="pull-right" src="https://cdn.rawgit.com/bread2077/temp/main/images/icons/close.png" alt="">
					</div>
					<ul class="menu_navs">
					{% for menu in site['menu'] %}
                      <!--<li class="menu__navs__link"><a href="{{ menu['link'] }}"> <p class="phone__menu__p" style="color: #152956">{{ menu['name'] }}</p></a></li>-->
                      <li class="phone-menu__link">
                        <span class="{{ menu['icon'] }} phone-menu__icon"></span>
                        <a href="{{ menu['link'] }}">{{ menu['name'] }}</a>
                      </li>
          {% endfor %}
					</ul>
					<hr class="line_under_navs">
					<div class="icons__phone__menu" style="margin-bottom: 10px;">
						<a href="https://t.me/SmPrim" class="fa"><img src="https://cdn.rawgit.com/bread2077/temp/main/images/tg1.svg" alt="" style="margin-right: 5px;"></a>
						<a href="https://vk.com/smmprime" class="fa"><img src="https://cdn.rawgit.com/bread2077/temp/main/images/vk.svg" alt=""></a>
                  </div>
					<div class="menu_phone_singin phone-menu-setting__items">
                     	<div class="body__set">
                          <a href="/account">
								<img src="https://cdn.rawgit.com/bread2077/temp/main/images/settings.png" alt="">
								<span>Настройки</span>
							</a>
						</div>
						<button onclick="location.href = '/logout'" class="btnn white__button">Выход</button>

					</div>
				</div>
				<div class="menu__icon__phone" onclick="open__phone__menu()">
					<div class="icon__div"></div>
					<div class="icon__div m"></div>
					<div class="icon__div m"></div>
				</div>
			</div>
          {% else %}
          	<div class="d-flex menu">
				<div class="menu_left d-flex">
                  <div id="logo" onclick="location.href = '/';" class="menu__img d-flex" style="cursor: pointer">
						<img class="img-responsive mr-9px" src="https://cdn.rawgit.com/bread2077/temp/main/images/Logo_left.png" alt="">
						<h2 class="logo-title">SMM<span class="text_blue">PRIME</span></h2>
					</div>
        <!-- -------------- Desctop menu  -------------->
					<ul class="menu__navs d-flex">
						<!--<li>
                          <p onclick="location.href = '/about'">О нас</p>
						</li>-->
                      <li class="menu__navs__link">
                          <!--<p onclick="location.href = '/services'">Цены</p>-->
                        	<a href="/services">Цены</a>
                        	<ul class="menu__sublist">
                              <li class="menu__sublist__link"><a href = "/layki">Накрутка лайков</a></li>
                              <li class="menu__sublist__link"><a href = "/podpischiki">Накрутка подписчиков</a></li>
                              <li class="menu__sublist__link"><a href = "/kommentarii">Накрутка комментариев</a></li>
                              <li class="menu__sublist__link"><a href = "/prosmotry">Накрутка просмотров</a></li>
                              <li class="menu__sublist__link"><a href = "/reposty">Накрутка репостов</a></li>

                          </ul>
						</li>
                      <li class="menu__navs__link">
                          <a href = "/instagram">Инстаграм</a>
                        	<ul class="menu__sublist">
                            	<li class="menu__sublist__link"><a href = "/instlayki">Накрутка лайков</a></li>
                          		<li class="menu__sublist__link"><a href = "/instpodpischiki">Накрутка подписчиков</a></li>
                             	<li class="menu__sublist__link"><a href = "/instprosmotry">Накрутка просмотров</a></li>
                              	<li class="menu__sublist__link"><a href = "/instagolosa">Накрутка голосов</a></li>
								<li class="menu__sublist__link"><a href = "/instareposty">Накрутка репостов</a></li>
								<li class="menu__sublist__link"><a href = "/instakommentarii">Накрутка комментариев</a></li>
                          </ul>
						</li>
                      <li class="menu__navs__link">
                         <a href = "/vkontakte">ВК</a>
                          <ul class="menu__sublist">
                            <li class="menu__sublist__link"><a href = "/vkpodpischiki">Накрутка подписчиков</a></li>
                            <li class="menu__sublist__link"><a href = "/vkprosmotry">Накрутка просмотров</a></li>
                            <li class="menu__sublist__link"><a href = "/vklayki">Накрутка лайков</a></li>
                            <li class="menu__sublist__link"><a href = "/vkoprosy">Накрутка опросов</a></li>
                            <li class="menu__sublist__link"><a href = "/vkproslushivaniya">Накрутка прослушиваний</a></li>
                            <li class="menu__sublist__link"><a href = "/vkkommentarii">Накрутка комментариев</a></li>
                            <li class="menu__sublist__link"><a href = "/vkdruzya">Накрутка друзей</a></li>
                            <li class="menu__sublist__link"><a href = "/vkreposty">Накрутка репостов</a></li>
                          </ul>
						</li>
                      <li class="menu__navs__link">
                          <a href = "/telegram">Телеграм</a>
                        	<ul class="menu__sublist">
                            	<li class="menu__sublist__link"><a href = "/tgpodpischiki">Накрутка подписчиков</a></li>
                          		<li class="menu__sublist__link"><a href = "/tgprosmotry">Накрутка просмотров</a></li>
                              	<li class="menu__sublist__link"><a href = "/tgreakcii">Накрутка реакций</a></li>
                              	<li class="menu__sublist__link"><a href = "/tggolosovaniya">Накрутка голосований</a></li>
                              	<li class="menu__sublist__link"><a href = "/tgkommentarii">Накрутка комментариев</a></li>
                              	<li class="menu__sublist__link"><a href = "/tgreposty">Накрутка репостов</a></li>
                          </ul>
						</li>
                      <li class="menu__navs__link">
                          <a href = "/tiktok">ТикТок</a>
                        	<ul class="menu__sublist">
                            	<li class="menu__sublist__link"><a href = "/ttprosmotry">Накрутка просмотров</a></li>
                              	<li class="menu__sublist__link"><a href = "/ttpodpischiki">Накрутка подписчиков</a></li>
                              	<li class="menu__sublist__link"><a href = "/ttlayki">Накрутка лайков</a></li>
                              	<li class="menu__sublist__link"><a href = "/ttkommentarii">Накрутка комментариев</a></li>
                          </ul>
						</li>
                      <li class="menu__navs__link">
                         <a href = "/youtube">Ютуб</a>
                        	<ul class="menu__sublist">
                            	<li class="menu__sublist__link"><a href = "/ytpodpischiki">Накрутка подписчиков</a></li>
                              	<li class="menu__sublist__link"><a href = "/ytprosmotry">Накрутка просмотров</a></li>
                              	<li class="menu__sublist__link"><a href = "/ytlayki">Накрутка лайков</a></li>
                              	<li class="menu__sublist__link"><a href = "/ytkommentarii">Накрутка комментариев</a></li>
                          	</ul>
						</li>
						<!--<li>
							<p onclick="if(location.pathname=='/') {document.getElementById('services').scrollIntoView({block: 'center',
            inline: 'center'})} else location.href = '/signin#services';">Услуги</p>
						</li>-->

						<!--<li>
                          <p onclick="location.href = '/news'">Блог</p>
						</li> -->
						<!--<li>
                          <p onclick="location.href = '/api'">API</p>
						</li>-->
					</ul>
				</div>

				<div class="right">
					<div class="menu__contacts d-flex">
						<a href="https://t.me/SmPrim" id="tel" class="fa "><img src="https://cdn.rawgit.com/bread2077/temp/main/images/tg1.svg" alt=""></a>
						<a href="https://vk.com/smmprime" id="vk" class="fa  "><img src="https://cdn.rawgit.com/bread2077/temp/main/images/vk.svg" alt=""></a>
						<button onclick="if(location.pathname=='/') {document.getElementById('signIn').scrollIntoView({block: 'center', inline: 'center'})} else location.href = 'signin#anchor';" class="btnn white__button">Вход</button>
						<button onclick="location.href = '/signup';" class="btnn red__button">Регистрация</button>
					</div>
				</div>
				<div class="menu__phone" style="min-width: 250px;">
					<div class="block__close" onclick="close__phone__menu()">
						<img class="pull-right" src="https://cdn.rawgit.com/bread2077/temp/main/images/icons/close.png" alt="">
					</div>
					<ul class="menu_navs">

						{% for menu in site['menu'] %}
                      <li class="menu__navs__link">
                        <a href="{{ menu['link'] }}" class="phone-menu__link">
                          {% if menu['name'] == "Вконтакте" %}
                          	<img class="phone-menu__icon" src="https://cdn.rawgit.com/bread2077/temp/main/images/vk-black.png" alt="">
                          {% else %}
                          <i class="{{ menu['icon'] }} phone-menu__icon"></i>
                          {% endif%}
                          {{ menu['name'] }}
                        </a>
                      </li>
          {% endfor %}
					</ul>
					<hr class="line_under_navs">
					<div class="icons__phone__menu">
						<a href="https://t.me/SmPrim" class="fa "><img src="https://cdn.rawgit.com/bread2077/temp/main/images/tg1.svg" alt=""></a>
						<a href="https://vk.com/smmprime" class="fa  "><img src="https://cdn.rawgit.com/bread2077/temp/main/images/vk.svg" alt=""></a>
					</div>

					<div class="menu_phone_singin">
						<button onclick="if(location.pathname=='/') {close__phone__menu(); document.getElementById('signIn').scrollIntoView({block: 'center', inline: 'center'})} else location.href = 'signin#anchor';" class="btnn btn-blue"><span class="far fa-user-circle" style="color: white; margin-right: 5px;"></span>Личный кабинет</button>
						<button onclick="location.href = '/signup';" class="btnn red__button margin_phone_button">Регистрация</button>
					</div>
				</div>
				<div class="menu__icon__phone" onclick="open__phone__menu()">
					<div class="icon__div"></div>
					<div class="icon__div m"></div>
					<div class="icon__div m"></div>
				</div>
			</div>
          {% endif %}
		</header>
        {{ content }}
	</div>
	<footer class="container-fluid">
		<div class="container">
			<div class="d-flex align-items-start">
				<div class="footer__left">
					<div class="footer__logo">
						<div onclick="location.href = '/'" class="menu__img d-flex" style="cursor: pointer; z-index: 1">
							<img class="img-responsive mr-9px" src="https://cdn.rawgit.com/bread2077/temp/main/images/Logo_left.png" alt="">
							<h1>SMM<span class="text_blue">PRIME</span></h1>
						</div>
					</div>
					<div class="footer__about">
						<h3 onclick="location.href = '/'" style="cursor: pointer" class="footer__title">SMMPRIME</h3>
                       <div class="footer__submenu menu__navs__link">
                      		<a href = "/about" style="cursor: pointer">О нас</a>
                      	</div>
						<!--<p onclick="location.href = '/news'" style="cursor: pointer">Блог</p>-->
                      <div class="footer__submenu menu__navs__link">
						<a href = "/terms" style="cursor: pointer">Правила и условия</a>
                      </div>
                      <div class="footer__submenu menu__navs__link">
						<a href = "/oferta" style="cursor: pointer">Оферта</a>
                      </div>
					</div>
					<div class="footer__about">
						<h3 onclick="location.href = '/services'" style="cursor: pointer" class="footer__title">Услуги</h3>
                      	<div class="footer__submenu menu__navs__link">
						<a href = "/instagram" style="cursor: pointer">Instagram*</a>
                      </div>
                      	<div class="footer__submenu menu__navs__link">
						<a href = "/tiktok" style="cursor: pointer">TikTok</a>
                      </div>
                      	<div class="footer__submenu menu__navs__link">
						<a href = "/youtube" style="cursor: pointer">YouTube</a>
                      </div>
                      	<div class="footer__submenu menu__navs__link">
						<a href = "/telegram" style="cursor: pointer">Telegram</a>
                        </div>
                          <div class="footer__submenu menu__navs__link">
						<a href = "/vkontakte" style="cursor: pointer">VK</a>
                          </div>
                          <div class="footer__submenu menu__navs__link">
						<a href = "/facebook" style="cursor: pointer">Facebook*</a>
                          </div>
					</div>
					<div class="footer__about">
						<h3 onclick="location.href = '/api'" style="cursor: pointer" class="footer__title">API</h3>
					</div>
					                  <div class="footer__about">

                  <div class="footer__title">КОНТАКТЫ</div>
                   <div class="footer__title footer__subtitle">Технические вопросы</div>
                  <div class="footer__title footer__text"><a href="mailto:smmprime@mail.ru?subject=Smmprime.NewMessame" target="blank">smmprime@mail.ru</a></div>
              <div class="footer__title footer__subtitle">Вопросы по заказам</div>
                  {% if user['auth'] %}
                  <div class="footer__title footer__text"><a href="/tickets" target="blank">Поддержка на сайте</a></div>
               {% endif %}
              	<div class="footer__title footer__text"><a href="https://t.me/Smmprimesupportbot" target="blank">Поддержка в Телеграм</a></div>
                  <div class="footer__title footer__subtitle">Время работы онлайн тех.поддержки</div>
                  <div class="footer__title footer__text">Пн-Вс, с 10 до 22</div>
					</div>
					<div class="footer__about cp">
						<img onclick="window.scrollTo( 0, 0 );" src="https://cdn.rawgit.com/bread2077/temp/main/images/up.png" style="cursor: pointer" alt="">
					</div>
				</div>
				<div class="footer__right">

					 <div class="right__imgs">
						<a href="https://t.me/SmPrim" class="fa "><img src="https://cdn.rawgit.com/bread2077/temp/main/images/tg1.svg" alt=""></a>
						<a href="https://vk.com/smmprime" id="vk" class="fa  "><img src="https://cdn.rawgit.com/bread2077/temp/main/images/vk.svg" alt=""></a>
					</div>
					<i><img src="https://cdn.rawgit.com/bread2077/temp/main/images/copyright.png" alt="">2017-<span class="date"></span></i>
				</div>
			</div>
			<div class="line"></div>
			<div class="footer__bottom">
				<h3 class="footer__title d-flex">SMMPRIME<img onclick="dropDown(this)" src="https://cdn.rawgit.com/bread2077/temp/main/images/arrow_down.png" alt="">
				</h3>
				<div class="footer__drop-down footer__submenu__links menu__navs__link">
					<a href = "/about" style="cursor: pointer">О нас</a>
					<!--<p onclick="location.href = '/news'" style="cursor: pointer">Блог</p>-->
					<a href = "/terms" style="cursor: pointer">Правила и условия</a>
					<a href = "/oferta" style="cursor: pointer">Оферта</a>
				</div>
			</div>
			<div class="line"></div>
			<div class="footer__bottom">
				<h3 class="footer__title d-flex">Услуги<img onclick="dropDown(this)" src="https://cdn.rawgit.com/bread2077/temp/main/images/arrow_down.png" alt="">
				</h3>
             	 <div class="footer__drop-down">
                    <!-- ----- Mobile menu ----- -->
                   <div class="footer__submenu__item">
						<div class="footer__submenu menu__navs__link"> <a href = "/instagram" style="cursor: pointer">Instagram*</a> <img onclick="dropDown(this)" src="https://cdn.rawgit.com/bread2077/temp/main/images/arrow_down.png" alt=""></div>
                   		<div class="footer__drop-down footer__submenu__links menu__navs__link">
                     		<a href = "/instlayki" class="footer__submenu__link">Накрутка лайков</a>
                          	<a href = "/instpodpischiki" class="footer__submenu__link">Накрутка подписчиков</a>
                          	<a href = "/instprosmotry" class="footer__submenu__link">Накрутка просмотров</a>
                          	<a href = "/instakommentarii" class="footer__submenu__link">Накрутка комментариев</a>
							<a href = "/instagolosa" class="footer__submenu__link">Накрутка голосов</a>
							<a href = "/instareposty" class="footer__submenu__link">Накрутка репостов</a>
                     </div>
                   </div>
                   <div class="footer__submenu__item">
                   		<div class="footer__submenu menu__navs__link"> <a href = "/telegram" style="cursor: pointer">Telegram</a><img onclick="dropDown(this)" src="https://cdn.rawgit.com/bread2077/temp/main/images/arrow_down.png" alt=""></div>
                   		<div class="footer__drop-down footer__submenu__links menu__navs__link">
                            <a href = "/tgpodpischiki" class="footer__submenu__link">Накрутка подписчиков</a>
                     		<a href = "/tgprosmotry" class="footer__submenu__link">Накрутка просмотров</a>
                          	<a href = "/tgreakcii" class="footer__submenu__link">Накрутка реакций</a>
                          	<a href = "/tggolosovaniya" class="footer__submenu__link">Накрутка голосований</a>
                          	<a href = "/tgkommentarii" class="footer__submenu__link">Накрутка комментариев</a>
                          	<a href = "/tgreposty" class="footer__submenu__link">Накрутка репостов</a>
                     </div>
                   </div>
                   <div class="footer__submenu__item">
						<div class="footer__submenu menu__navs__link"><a href = "/vkontakte" style="cursor: pointer">VK</a><img onclick="dropDown(this)" src="https://cdn.rawgit.com/bread2077/temp/main/images/arrow_down.png" alt=""></div>
                   		<div class="footer__drop-down footer__submenu__links menu__navs__link">
                     		<a href = "/vkpodpischiki" class="footer__submenu__link">Накрутка подписчиков</a>
                         	<a href = "/vkprosmotry" class="footer__submenu__link">Накрутка просмотров</a>
                     		<a href = "/vklayki" class="footer__submenu__link">Накрутка лайков</a>
                   			<a href = "/vkoprosy" class="footer__submenu__link">Накрутка опросов</a>
              				<a href = "/vkproslushivaniya" class="footer__submenu__link">Накрутка прослушиваний</a>
                         	<a href = "/vkkommentarii" class="footer__submenu__link">Накрутка комментариев</a>
                          	<a href = "/vkdruzya" class="footer__submenu__link">Накрутка друзей</a>
                          	<a href = "/vkreposty" class="footer__submenu__link">Накрутка репостов</a>
                     </div>
                   </div>
                   <div class="footer__submenu__item">
                     <div class=" footer__submenu menu__navs__link">
						<a href = "/tiktok" style="cursor: pointer">TikTok</a><img onclick="dropDown(this)" src="https://cdn.rawgit.com/bread2077/temp/main/images/arrow_down.png" alt=""></div>
                     <div class="footer__drop-down footer__submenu__links menu__navs__link">
                     		<a href = "/ttprosmotry" class="footer__submenu__link">Накрутка просмотров</a>
                       		<a href = "/ttpodpischiki" class="footer__submenu__link">Накрутка подписчиков</a>
                       		<a href = "/ttlayki" class="footer__submenu__link">Накрутка лайков</a>
                       		<a href = "/ttkommentarii" class="footer__submenu__link">Накрутка комментариев</a>
                     </div>
                   </div>
                   <div class="footer__submenu__item">
                      <div class=" footer__submenu menu__navs__link">
					 	<a href = "/youtube" style="cursor: pointer">YouTube</a><img onclick="dropDown(this)" src="https://cdn.rawgit.com/bread2077/temp/main/images/arrow_down.png" alt="">
                     </div>
                     <div class="footer__drop-down footer__submenu__links menu__navs__link">
                     	<a href = "/ytpodpischiki" class="footer__submenu__link">Накрутка подписчиков</a>
                       	<a href = "/ytprosmotry" class="footer__submenu__link">Накрутка просмотров</a>
                       	<a href = "/ytlayki" class="footer__submenu__link">Накрутка лайков</a>
                       	<a href = "/ytkommentarii" class="footer__submenu__link">Накрутка комментариев</a>
                   </div>
                   <div class="footer__submenu__item">
                      <div class=" footer__submenu menu__navs__link">
					 <a href = "/facebook" style="cursor: pointer">Facebook*</a>
                     </div>
                   </div>
                   </div>
                           			</div>
          <div class="line"></div>
			<div class="footer__bottom footer__contacts">

                  <div class="footer__title">КОНТАКТЫ</div>
              <div class="footer__title footer__subtitle">Технические вопросы</div>
                  <div class="footer__title footer__text"><a href="mailto:smmprime@mail.ru?subject=Smmprime.NewMessame" target="blank">smmprime@mail.ru</a></div>
              <div class="footer__title footer__subtitle">Вопросы по заказам</div>
              {% if user['auth'] %}
                  <div class="footer__title footer__text"><a href="/tickets" target="blank">Поддержка на сайте</a></div>
               {% endif %}
              	<div class="footer__title footer__text"><a href="https://t.me/Smmprimesupportbot" target="blank">Поддержка в Телеграм</a></div>
                  <div class="footer__title footer__subtitle">Время работы онлайн тех.поддержки</div>
                  <div class="footer__title footer__text">Пн-Вс, с 10 до 22</div>
	          </div>
		</div>
      </div>
      <div class="container">
        <div class="footer__title footer__subtitle d-flex">*продукт компании Meta - признано экстремисткой организацией и запрещено в России.</div>
        <!--<div><img src="https://cdn.rawgit.com/bread2077/temp/main/images/copyright.png" alt=""><span style="padding-left:5px;">2017 - 2022</span></div>-->
      </div>
	</footer>

	<script type="text/javascript" src="https://cdn.rawgit.com/bread2077/temp/main/plugins/slick/slick.min-1.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/bread2077/temp/main/scripts/index-9.v8.js"></script>
{% for script in site['scripts'] %}
  <script type="text/javascript" {% if script['src'] %}src="{{ script['src'] }}"{% endif %}>
    {% if script['code'] %} {{ script['code'] }} {% endif %}
  </script>
{% endfor %}
    <!--<script src="https://kit.fontawesome.com/d8deaf02a0.js" crossorigin="anonymous"></script>-->

  </body>
</html>
