.btn {
  white-space: inherit;
  padding: 0;
  font-family: var(--font);
  font-weight: 600;
  cursor: pointer;
  border-radius: 40px;
  line-height: 1;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
