.btn-rounded {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-rounded:hover {
  opacity: 0.8;
}

.spoiler-btn {
  width: 30px;
  height: 30px;
  background-color: var(--color-primary);
  background-image: url('https://cdn.rawgit.com/bread2077/temp/main/images/icons/arrow-bottom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  transition: all 0.4s linear;
}

.spoiler-btn_active {
  transform: rotate(180deg);
  background-color: var(--color-secondary);
}

.link {
  text-decoration: none;
}

.accent-link {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 500;
}

.accent-text {
  color: var(--color-secondary);
}

.tab {
  padding: 5px 10px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all var(--base-transition);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .btn-rounded {
    width: 30px;
    height: 30px;
  }
  .btn-rounded:hover {
    opacity: 1;
  }
}
