p
{
	padding: 0px;
	margin: 0px;
}
html, body {
  overflow-x: hidden !important;
}
.feedback__background2
{
	position: absolute;
	top: 50%;
	z-index: -2;
	background-color: black;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 261px;
	width: 105%;
	box-shadow: 5px 4px 20px 5px rgba(64, 123, 255, 0.1);
	background-color: white;
	border-radius: 50px;
	opacity: 0.5;
}
@media (max-width: 650px){
	  .feedback__background2{
		  display: none;
	  }
}
.btn__blue:hover{
	background: #1C62FF !important;
}
.burger{
	position: fixed;
	top: 0px;
	left: 0;
	height: 768px;
	width: 100%;
	background: rgba(245, 245, 245, 0.97);
	z-index: 99;
}
@media (min-width:992px){
	 .menu__img{
	position: relative;
	z-index: 999;
} 
}

.block__close__burg{
	position: absolute;
		top: 35px;
	right: 0	;
	cursor: pointer;
}


.burger .container{
	position: relative;
	padding-top: 156px;

}
.container.no-line{
padding-top: 30px;
}
.container.no-line::before{
	display: none;

}
.body__set a{
	display: flex;
	align-items: center;
}
.body__set span{
	margin-left: 10px;
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.035em;

color: #152956;

}
.price_title{
	padding-right: 10px;
}
.hidden__mini{
	position: absolute;
	right: 0;
}
.btnn.white__button.m-logout{
	margin-right: 0;
}
.icon__div.black{
	height: 1px;
	width: 14px;
}
.menu__navs{
	position: relative;
}

.burger._active{
	display: block;
}
@media (max-width: 992px){
	  .burger{
	display: none !important;
}
}
.li-last{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-5%);
}
.burger .container::before{
	content: '';
	width: 200vw;
	left: -30%;
	bottom: 0;
	height: 2px;
	background:  #DFDFDF;
	position: absolute;
}
.body__burg{
	display: flex;
	justify-content: space-between;
}
.body__burg__text{
	font-size: 24px;
line-height: 29px;
letter-spacing: 0.035em;
font-family: Montserrat;
color: #152956;
margin-bottom: 30px;
}
@media (max-width: 1200px){
	  .menu__navs {
		  margin-left: 50px !important;
	  }
	  .btnn.white__button.m-logout{
		  margin-left: 20px !important;
	  }
	  .adapt-hidden{
		  display: none !important;
	  }
}
@media (max-width: 992px){
	  .menu_phone_singin{
		  display: flex;
		  flex-direction: row-reverse;
		  justify-content: space-between;
		  align-items: center;
	  }
	  .container::before{
		display: none;

		}
		.body__set img{
			height: 16px;
			width: 16px;
		}
		.body__set span{
			margin-left: 5px;
			font-size: 14px;
line-height: 17px;
		}
		header .btnn.white__button{
			padding: 5px 12px;
			font-size: 12px;
line-height: 15px;
		}
}
body .price .price__title h3{
	font-size: 20px;
}
body {
	width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.body
{
	overflow: hidden !important;
}
.d-flex
{
	display: flex;
	justify-content: space-between;
	align-items: center !important;
}
.btnn
{
	padding: 9px 16px;
	border-radius: 32px;
	border: none;
	outline: none !important;
}
.white__button
{
	background-color: white;
	border: 1px solid #FF725E;
	color: #FF725E;
}
.red__button
{
	transition: 0.4s;
	background-color: #FF725E;
	color: white;
}
.white__button
{
	transition: 0.4s;
	margin-right: 15px;
}
.red__button:hover
{
	outline: 1px solid #FF725E !important; ;
	background-color: white;
	color: #FF725E;
}
.white__button:hover
{
	background-color: #FF725E;
	color: white;
}
.text_blue
{
	color: #407BFF;
}
.sec1__left h2
{
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 900;
	line-height: 44px;
	letter-spacing: 0.02em;
	text-align: left;
}
.sec1__left p
{
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.02em;
	text-align: left;
}
.align-center
{
	position: relative;
	align-items: center;
}
.sec1__left p
{
	margin-top: 26px;
}
.title
{
	color: #152956;
}
section
{
	margin-bottom: 70px;
}
.textarea
{
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;
	margin-top: 24px;
}
.btn__blue
{
	margin-top: 76px;
	color: white !important;
	padding: 10px 74px !important;
	border-radius: 148px !important;
	background-color: #407BFF;
	color: white;
	font-family: Montserrat !important;
	font-size: 30px !important;
	font-style: normal !important;
	font-weight: 900 !important;
	line-height: 37px !important;
	letter-spacing: 0.02em !important;
	text-align: left;
	outline: none !important;
}
.inform_block_text{
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
  color: #407BFF;
}
.inform_block_text_mini{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.035em;
  text-align: center;
  margin-top: 10px;
  color: black;
  margin-bottom: 0px;
}
.inform_block
{
	margin-bottom: 90px;
	padding: 0px 71px;
}
.title
{
	font-family: Montserrat;
	font-size: 28px;
	font-style: normal;
	font-weight: 900;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: center;
}
.sevice__group
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.service h3
{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 29px;
	letter-spacing: 0.02em;
	text-align: left;
	padding: 0px;
	margin: 0px;
	margin-left: 13px;
}
.service p
{
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.035em;
	text-align: left;
	margin: 0px;
}
.service__top
{
	margin-bottom: 41px;
}
.service__body p img
{
	display: inline-block !important;
}
.mr-5px
{
	margin-right: 5px;
}
.service button
{
	background-color: #FF725E;
	color: white !important;
	margin: 0px auto;
	outline: none !important;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 30px;
	letter-spacing: 0.035em;
	margin-top: 43px;
	border-radius: 50px;
	padding: 9px 28px;
}
.service
{
	box-shadow: 0px 4px 4px 0px #407BFF40;
	border-radius: 50px;
	padding: 49px 28px;
	margin: 0px 15px;
}
.d-flex-left
{
	display: flex;
	justify-content: flex-start !important;
	align-items: center;
}
.slick-dots li.slick-active button:before
{
		color: #FF725E !important;
}
.slick-dots li button:before
{
    color:  #FFB5AA !important;
    opacity: 1 !important;
    font-size: 10px !important;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    color: #FF725E !important;
}
.bank_cards{
	display: flex;
	justify-content: space-between;
	margin-top: 90px;
}
.table__bottom
{
	
	
	width: 100% !important;
	
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	

    overflow-x: auto;
    white-space: nowrap;

}
.table_top_left
{
	margin-right: 20px;
}
.table__bottom::-webkit-scrollbar, .table__top::-webkit-scrollbar {
  width: 1em;
  height: 5px;
  top: 100px;
  padding: 10px;
}

.table__bottom::-webkit-scrollbar-track, .table__top::-webkit-scrollbar-track{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.table__bottom::-webkit-scrollbar-thumb, .table__top::-webkit-scrollbar-thumb  {
  border-radius: 10px;
  outline: none !important;
  background-color: #407BFF;
}

.table__bottom::-webkit-scrollbar:vertical, .table__top::-webkit-scrollbar:vertical  {
  display: none;
}
.slick-slide
{
	margin: 15px !important;
}
.bank_card_image{
	margin-left: 8px;
}
.advices_block_title{
	text-align: center;
}
.table_text_active
{
	position: relative;
}
.table_top_right{
	position: relative;
}
.table_top_right img
{
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
	left: 15px;
}
.table_top_right input
{
	padding-left: 30px !important;
}
.table_text_active:before
{
	content: "";
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: -3px;
	height: 3px;
	background-color: #407BFF;
	transform: translateY(-100%);
}
.advices_block_title_text{
	font-family: Montserrat;
	font-size: 28px;
	font-style: normal;
	font-weight: 900;
	line-height: 34px;
	letter-spacing: 0.02em;
	color: #152956;
}
.advices{
	margin-top: 89px;
}
.advices_body{
	margin-top: 55px;
		display: flex;
	justify-content: space-between;
}
.body_element_cont_m{
	display: flex;
	margin-top: 70px;
	align-items: center;
}
@media only screen and (max-width: 1000px) {
	.row__title
	{
		font-size: 14px !important;
	}
	.row__value
	{
		font-size: 10px !important;
	}
	 .advices_body{
			margin-top: 55px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
	}
	.body_element_cont_m{
			margin-top: 20px;
	}
	.body_element_cont{
			margin-top: 20px;
			align-items: center;
	}
	}
	.body_element_cont{
			display: flex;
	}
	.element_image{
			width: 150px;
			height: 150px;

}
@media only screen and (max-width: 700px) {

	.row__title
	{
		font-size: 11px !important;
	}
	.row__value
	{
		font-size: 7px !important;
	}
	.story
	{
		padding: 15px 8px !important;
	}
	.story__row
	{
		margin-right: 5px !important;
	}
.element_image
	{
		width: 90px;
		height: 90px;
	}
	.bloghide
	{
		display: none;
	}
}
@media only screen and (max-width: 992px) {
	.sec1__right img
	{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.btn__blue
	{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.inform_block h1
	{
		font-size: 28px;
	}
	.inform_block p
	{
		font-size: 14px;
		margin-top: 0px;
	}


}}
.element_text_body{
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.035em;
text-align: left;
color: #152956;
}
.element_text{
	margin-left: 50px;
}
.footer{
margin: 0px;
padding: 0px;

}
.element_text_title{
	font-family: Montserrat;
	font-size: 24px !important;
	font-style: normal;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0.035em;
	text-align: left;
	color: #152956;
}
.footer_content{

	display: flex;
	justify-content: space-between;
	padding-top: 75px;
	background-color: #E5E5E5;
}
.footer_content_1{
	display: flex;
}
.footer_content{
	display: flex;
	justify-content: space-around;}

.table_titles_text{
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.035em;
	color: black;
}
.table_titles_text_m{
	margin-left: 55px;
}
.table_body_card_text{
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.035em;
	text-align: left;
}
.table{
	margin-left: 107px;
	display: flex;
	justify-content: space-between;
}
.table_card2{
	margin-left: 55px;
}
.icons_web_image{
	align-items: flex-start;
	width: 27px;
	height: 27px;
	margin-left: 16px;
}
.text_end_copy{
	margin-top: 113px;
	display: flex;
	
}
.footer_content_2_image{
	width: 15px;
	height: 15px;
}
.footer_content_2_text_end{
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 0em;
}
.advices_body
{
	margin-bottom: 90px;
}
.blog
{
	margin: 0px 15px;
	position: relative;

}
.blog__title
{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0.035em;
	margin-bottom: 15px;
	margin-top: 13px;
	text-align: left;
}
.blog__text
{
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;
}
.blog__img img
{
	display: block;
	width: 100%;
	position: relative;
	top: 0px;
	left: 50%;
	transform: translateX(-50%) scale(1.06);
}
.blog i
{
	font-family: Montserrat;
	font-size: 10px;
	font-style: italic;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0.02em;
	text-align: left;
	display: block;
	color: rgba(38, 54, 87, 0.5);
	margin: 0px;
	padding: 0px;
	margin-left: 55px;
}
.slider__blog
{
	margin-top: 40px;
	margin-bottom: 90px !important;
}
.feedback__slider
{
	margin-top: 40px;
	margin-bottom: 90px !important;
}
.feedback_text
{
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.035em;
	text-align: center;
	margin-top: 40px;
}
.feedback__title
{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 29px;
	letter-spacing: 0.02em;
	margin-top: 0px;
	margin-bottom: 0px;
}
.feedback__stars
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.feedback__stars img
{
	display: block;
	width: 100%;
}
.feedback
{
	position: relative;
	box-shadow: 5px 4px 20px 5px rgba(64, 123, 255, 0.1);
	margin: 15px 50px !important;
	padding: 52px 63px;
	background-color: white;
	text-align: center;
	border-radius: 50px;
}
.faq__slider
{
	margin-top: 40px !important;
}
.faq
{
	padding: 60px 65px;	
	box-shadow: 5px 4px 20px 5px rgba(64, 123, 255, 0.1);
	margin: 15px;
	border-radius: 50px;
}
.faq h3,
.faq__subtitle
{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 29px;
	letter-spacing: 0.035em;
	margin: 0px;
	margin-bottom: 20px;
	color: #407BFF;
	text-align: left;
}
.faq p
{
	margin: 0px;

	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;
}
.footer__left
{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.footer__title
{
	margin-top: 0px;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.035em;
	text-align: left;
	margin-bottom: 10px;
	text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.4);
}
.footer__left p
{
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	margin-bottom: 8px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.035em;
	text-align: left;
}
.footer__bottom
{
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	margin-bottom: 8px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.035em;
	text-align: left;
}
.footer__about
{
	margin-right: 36px;
}
.footer__left h1
{
	margin-top: 0px;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 800;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
}
.footer__left .menu__img img
{
	width: 30px !important;
}
.footer__logo
{
	margin-right: 100px;
}
footer
{
	padding-top: 84px;
	padding-bottom: 93px;
	background-color: #F5F5F5;
}
.right__imgs img
{
	width: 27px;
	height: 27px;
}
.right__imgs img:first-child
{
	margin-right: 16px;
}
.align-items-start
{
	align-items: flex-start !important;
}
.footer__right i
{
	display: block;
	margin-top: 113px;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: left;
	color: #8E8E8E;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.footer__right i img
{
	margin-right: 4px;
}
.feedback__background
{
	position: absolute;
	top: 50%;
	z-index: -1;
	background-color: black;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 85%;
	width: 103%;
	box-shadow: 5px 4px 20px 5px rgba(64, 123, 255, 0.1);
	background-color: white;
	border-radius: 50px;
}
.blue__button
{
	outline: none !important;
	padding: 10px 74px;
	color: white !important;
	background-color: #407BFF;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
	line-height: 37px;
	letter-spacing: 0.02em;
	text-align: left;
	border: none;
	border-radius: 40px;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 100px;
	margin-bottom: 174px;
}
.footer__bottom
{
	padding-top: 19px;
	display: none;
}
.line
{
	height: 1px;
	width: calc(100% + 60px);
	background-color: #DFDFDF;
	margin-left: -30px;
	display: none;
	margin-top: 22px;
}
.footer__drop-down
{
	display: none;
}
.footer__title img
{
	transition: 0.4s;
	cursor: pointer;
}
.menu__contacts i
{
	cursor: pointer;
}
.menu__icon__phone{
	display: none;
}
.icon__div{
	cursor: pointer;
	width: 29px;
	height: 3px;
	background-color: #FF725E;
}
.m{
	margin-top: 3.25px;
}
.block__close{
	cursor: pointer;
	text-align: end;
	padding: 29px 16.5px 0px 0px;
}
.menu__phone{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: white !important;
	transform: translateX(100%);
	z-index: 10;
	transition: 0.4s;
	padding-bottom: 50px;
}
.menu_navs{
	margin: 0px !important;
	padding: 0px !important;
	padding: 25.5px 69px 24px 34px !important;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
}
.phone__menu__p{
	padding-top: 21px;
}
.line_under_navs{
	margin: 0px !important;
}
.icons__phone__menu{
	padding: 20px 0px 0px 34px;
}
.menu_phone_singin{
		padding: 0px 0px 0px 34px;
		flex-direction: row-reverse;
		align-items: center;
		margin-top: 15px;
}
#vk-m{
	margin-left: 16px;
}
.margin_phone_button{
	margin-top: 0px;
}
.menu_navs li p
{
	cursor: pointer;
}
#black__background
{
	width: 100vw;
	height: 100%;
	position: absolute;
	pointer-events: none;
	z-index: 10;
	background-color: rgba(38, 54, 87, 0.5);
	left: 50%;
	opacity: 0;
	transition: 0.4s;
	transform: translateX(-50%);
}
@media only screen and (max-width: 1200px) {
	#vk{
		display: none;
	}
.price__price p 
{
	font-family: Montserrat;
	font-size: 14px !important;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.035em;
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
}
.price__price
{
	font-family: Montserrat;
	font-size: 28px !important;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.035em;
	text-align: center;
}
	#tel{
		display: none;
	}
}
@media only screen and (max-width: 1000px) {
	.menu__navs{
		display: none;
	}
	.right{
		display: none;
	}
	.menu__icon__phone{
		display: block;
	}
}
@media only screen and (min-width: 1000px) {
	.menu__icon__phone{
		display: none !important;
	}
	.menu__phone{
		display: none !important;
	}
	.black__background
	{
		opacity: 0;
	}

}	
.buy{
	margin-top: 206px;
}
.price_title{
	margin: 0px !important;
	padding-right: 26px;
	font-family: Montserrat;
	font-size: 12px;
	font-style: italic;
	font-weight: 600;
	line-height: 15px;
	letter-spacing: 0.02em;
}
.m-logout{
	margin-left: 40px;
}
.first_active{
	border-radius: 50px;
	border: none;
	background-color: #FF725E;
	position: relative;
	right: -46px;
	border: 1px solid rgba(255, 114, 94,0.32);
}
.first_active_text{
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: white;
	padding: 11px 22px 11px 22px;
	margin: 0px;
}
.note_active{
	border-radius: 50px;
	border: none;
	border: 1px solid  rgba(255, 114, 94,0.32);
	background-color: white;
}
.note_active_text{
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: rgba(255, 114, 94,0.32);
	padding: 11px 22px 11px 55px;
	margin: 0px;
}
.buttons_add{
	text-align: center;
	margin-top: 20px;
}
.body_elements{
	display: flex;
	justify-content: space-between;
}
#active_element_inputes{
	border: 2px solid #407BFF;
	border-radius: 50px;
	color: #9F9F9F;
	width: 100%;
	padding: 20px;
}
#active_element_inputes_m{
	border: 2px solid #407BFF;
	border-radius: 50px;
	color: #9F9F9F;
	padding: 20px;
	margin-top: 20px;
}
.add_body{
	margin-top: 40px;

}
.inputes_option{
	padding: 10px;
	font-family: Montserrat;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
}

.form_send_button_text{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0.02em;
	text-align: center;
	margin: 0px;
	padding: 14px;



}
.form_send_button{
	width: 100%;
	margin-top: 25px;
	background-color: #FF725E;
	color: white;
	border-radius: 50px;
	border: none;
}
.infor_block{
	margin-top: 20px;
	border-radius: 25px;
	border: 2px solid #407BFF;
}
.infor_block_title_text{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #152956;
	padding: 30px 0px 26px 59px;
	margin: 0px;
}
.infor_block_title{
	border-bottom: 2px solid #407BFF;
}
.infor_block_body{
	padding: 30px 55px 60px 58px;
}
.blue_link{
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;
	color: #407BFF;
	margin: 0px;

}
.adres_link{
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;

}
.time_work{
	margin-top: 21px;
	display: flex;
	justify-content: space-between;
}
.about_work{

	margin-top: 30px;
}
.about_work_2{
	margin-top: 15px;
}
#hidden_Text{
	display: none;
}
#hidden_Text_2{
	display: none;
}
.textarea_buy{
	width: 100%;
	max-width: 100%;
	height: 400px;
	border: 2px solid #407BFF;
	border-radius: 25px;
	resize: none;
	outline: none;
	padding: 20px;
	font-size: 18px;
	margin-top: 20px;
	height: 400px;
}
#hidden_blocks{
	display: none;
}
.textarea_add{
		width: 100%;
	max-width: 100%;
	border: 2px solid #407BFF;
	border-radius: 25px;
	resize: none;
	outline: none;
	padding: 20px;
	font-size: 18px;
	margin-top: 20px;
	height: 265px;
}
.textarea_block{
	height: 100%;
}
.buy{
	margin-top: 206px;
}
.price_title{
	margin: 0px !important;
	padding-right: 26px;
	font-family: Montserrat;
	font-size: 12px;
	font-style: italic;
	font-weight: 600;
	line-height: 15px;
	letter-spacing: 0.02em;
}
.m-logout{
	margin-left: 40px;
}
.first_active{
	border-radius: 50px;
	border: none;
	background-color: #FF725E;
	position: relative;
	right: -46px;
	border: 1px solid rgba(255, 114, 94,0.32);
}
.first_active_text{
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: white;
	padding: 11px 22px 11px 22px;
	margin: 0px;
}
.note_active{
	border-radius: 50px;
	border: none;
	border: 1px solid  rgba(255, 114, 94,0.32);
	background-color: white;
}
.note_active_text{
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: rgba(255, 114, 94,0.32);
	padding: 11px 22px 11px 55px;
	margin: 0px;
}
.buttons_add{
	text-align: center;
	margin-top: 20px;
}
.body_elements{
	display: flex;
	justify-content: space-between;
}
#active_element_inputes{
	border: 2px solid #407BFF;
	border-radius: 50px;
	color: #9F9F9F;
	width: 100%;
	padding: 20px;
}
#active_element_inputes_m{
	border: 2px solid #407BFF;
	border-radius: 50px;
	color: #9F9F9F;
	padding: 20px;
	margin-top: 20px;
}
.add_body{
	margin-top: 40px;

}
.inputes_option{
	padding: 10px;
	font-family: Montserrat;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
}

.form_send_button_text{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0.02em;
	text-align: center;
	margin: 0px;
	padding: 14px;



}
.form_send_button{
	width: 100%;
	margin-top: 25px;
	background-color: #FF725E;
	color: white;
	border-radius: 50px;
	border: none;
}
.infor_block{
	margin-top: 20px;
	border-radius: 25px;
	border: 2px solid #407BFF;
}
.infor_block_title_text{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #152956;
	padding: 30px 0px 26px 59px;
	margin: 0px;
}
.infor_block_title{
	border-bottom: 2px solid #407BFF;
}
.infor_block_body{
	padding: 30px 55px 60px 58px;
}
.blue_link{
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;
	color: #407BFF;
	margin: 0px;

}
.adres_link{
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;

}
.time_work{
	margin-top: 21px;
	display: flex;
	justify-content: space-between;
}
.about_work{

	margin-top: 30px;
}
.about_work_2{
	margin-top: 15px;
}
#hidden_Text{
	display: none;
}
#hidden_Text_2{
	display: none;
}
.textarea_buy{
	width: 100%;
	max-width: 100%;
	height: 400px;
	border: 2px solid #407BFF;
	border-radius: 25px;
	resize: none;
	outline: none;
	padding: 20px;
	font-size: 18px;
	margin-top: 20px;
	height: 400px;
}
.services{
  margin-top: 90px;
}
#hidden_blocks{
	display: none;
}
.textarea_add{
		width: 100%;
	max-width: 100%;
	border: 2px solid #407BFF;
	border-radius: 25px;
	resize: none;
	outline: none;
	padding: 20px;
	font-size: 18px;
	margin-top: 20px;
	height: 265px;
}
.textarea_block{
	height: 100%;
}
.right__imgs
{
	display: flex;
	flex-wrap: nowrap;
}
.price img
{
	display: block;
	margin-right: 10px;
}
.price
{
	text-align: center;
}
.price p, .price h3
{
	margin: 0px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.price__title
{
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
}
.price__price p 
{
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.035em;
	text-align: center;
	margin-top: 10px;
	margin-right: 13px;

}
.price__price
{
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.035em;
	text-align: center;
}
.price__price
{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #407BFF;
}
.number
{
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	margin-top: 35px !important;
	letter-spacing: 0.035em;
	text-align: center;
}

.red__button1
{
	font-family: Montserrat;
	font-size: 20px !important;
	font-style: normal;
	font-weight: 800 !important;
	line-height: 30px;
	letter-spacing: 0.035em;
	text-align: left;
	padding: 9px 27px !important;
	border-radius: 54px !important;
	outline: none !important;
	margin-top: 9px;
}

.price
{
	padding: 40px 34px;
	box-shadow: 0px 4px 4px rgba(64, 123, 255, 0.25);
	border-radius: 40px;
	width: 23%;
	min-width: 220px;
	margin: 0px 1%;
	margin-top: 30px;
}
.textarea
{
	margin-bottom: 90px;
}
.prices
{
	margin-top: 10px;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center !important	;
}
.btn__blue1
{
	padding: 20px 37px !important;
	font-size: 24px !important;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 71px !important;
	margin-bottom: 142px;
}
.sevice__about_block
{
	text-align: center;
	min-width: 220px;
	width: 25%;
	margin: 0px 40px;
	margin-top: 22px;
}
.service__about
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-bottom: 90px;
}
.sevice__about_block img
{
	margin-bottom: 22px;
}
.sevice__about_block h3
{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0.035em;
	text-align: center;
	margin: 0px !important;
}
.sevice__about_block p
{
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	margin: 0px !important;
	text-align: center;
}
@media only screen and (max-width: 680px) 
{
	.service__body p
	{
		text-align: center !important;
	}
	.service__top
	{
		justify-content: center !important;
	}
}
@media only screen and (max-width: 650px) 
{
	.
	.first_active_text{
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 0.02em;
		padding: 7px  10px !important; 

	}
	.note_active_text{
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 0.02em;
		padding: 7px  10px 7px 40px !important; 
	}
	.sevice__about_block
	{
		width: 50% !important;
	}
	.btn__blue1
	{
		font-size: 18px !important;
		padding: 10px 20px !important;
	}
	.d-none
	{
		display: none;
	}
	.price
	{
		width: 100% !important;
	}
	.title
	{
		font-size: 20px;		
	}
	.footer__logo
	{
		margin-right: 0px;
	}
	.feedback
	{
		margin: 10px !important;
		width: 100%;
		padding: 20px 15px;
		box-shadow: 0px 4px 4px 0px #407BFF40;

	}	
	.feedback__background
	{
		display: none;
	}
	.feedback p
	{
		font-size: 8px;
	}	
	.feedback p
	{
		font-size: 8px;
	}	
	.faq h3
	{
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0.035em;
		text-align: left;
	}
	.faq p
	{
		font-family: Montserrat;
		font-size: 8px;
		font-style: normal;
		font-weight: 400;
		line-height: 10px;
		letter-spacing: 0.035em;
		text-align: left;
	}
	.element_text_title{
	font-family: Montserrat !important;
	font-size: 14px !important;
	font-style: normal !important;
	font-weight: 400 !important;
	line-height: 17px !important;
	letter-spacing: 0.035em !important;
	text-align: left !important;
	}
	.body_1
	{
	font-family: Montserrat !important;
	font-size: 8px !important;
	font-style: normal !important;
	font-weight: 400 !important;
	line-height: 10px !important;
	letter-spacing: 0.035em !important;
	text-align: left !important;
	}
	.textarea
	{
		font-family: Montserrat;
		font-size: 8px;
		font-style: normal;
		font-weight: 400;
		line-height: 10px;
		letter-spacing: 0.035em;
		text-align: left;
	}
}
.price_hor
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 28px 78px;
}
.price_hor h3
{
	margin: 0px !important;
	margin-right: 81px !important;
}
.price_hor .price__title
{
	margin: 0px !important;
}
.price_hor .number
{
	margin-right: 37px;
	margin-top: 0px !important;
}
.d-flex-d
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.price_hor .price__price p
{
	margin: 0px !important;
	margin-right: 13px !important;
}
@media only screen and (max-width: 1000px) 
{
	
.price_hor h3
{
	font-size: 18px !important;
	margin: 0px !important;
	margin-right: 28px !important;
}
.price_hor .price__title
{
	font-size: 30px;
	margin: 0px !important;
}
.price_hor .number
{
	margin-right: 20px;
	font-size: 12px;
	margin-top: 0px !important;
}
.price_hor .price__price p
{
	margin: 0px !important;
	margin-right: 13px !important;
}
}
@media only screen and (max-width: 767px) {
	.footer__about
	{
		display: none;
	}
	.lene
	{
		display: block !important;
	}
	.footer__bottom
	{
		display: block !important;
	}
	.footer__right i
	{
		display: none;
	}
	.footer__left
	{
		margin-bottom: 19px;
	}
	.price_hor
	{
		display: block;
	}
	.d-flex-d
	{
		display: block;
	}
	.price_hor h3
	{
		margin: 0px !important;
		margin-right: 0px !important;
	}
	.price_hor .price__title
	{
		margin: 0px !important;
		margin: 20px 0px !important;
	}
	.price_hor .number
	{
		margin-right: 0px;
	}
	.price_hor .price__price p
	{
		margin-right: 0px !important;
	}
	.sevice__group{
		text-align: center !important;
	}
	.inform_block_text{
		font-family: Montserrat;
		font-size: 24px;
		font-style: normal;
		font-weight: 800;
		line-height: 29px;
		letter-spacing: 0.02em;

	}
	.inform_block_text_mini{
		font-family: Montserrat;
		font-size: 9px;
		font-style: normal;
		font-weight: 400;
		line-height: 11px;
		letter-spacing: 0.035em;
		
	}
	.inform_block{
		padding: 0px !important;
	}
}
.cp img
{
	cursor: pointer;
}
.message
{
	border: 3px solid #407BFF;
	margin-bottom: 257px;
}
.footer__left h1{
	margin-bottom: 0px;
}
.mb_fix
{
	margin-bottom: 150px !important;
}
.textarea
{
	margin-bottom: 0px !important	;
	margin-top: 34px !important	;
}
.price img
{
		width: 45px;
}
.price__title 
{
		align-items: center;		 
}
.fs
{
	margin-bottom: 150px !important	;
}
.feedback__background
{
	background-color: rgba(64, 123, 255, 0.05) !important	;
}
.bw
{
	background-color: white !important;
}
.story
{
	padding-bottom: 70px !important;
}
.feedback__support
{
	max-width: 1170px;
}
.mt15
{
	margin-top: 15px !important	;
}
.feedback__background1
{
	height: 210px !important	;
}
