.login__block
{
	margin-top: 60px !important;
}
.info
{
	margin-top: 60px !important;
}
.auto_title
{
	margin-top: 60px !important;
}
.title__blog
{
	margin-top: 60px !important;
}
.error__block
{
	margin-top: 60px !important;
}
.buy
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.title__autospin
{
	margin-top: 60px !important;
}
.title__support
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.up_balance
{
	margin-top: 60px !important;
}
@media (max-width: 480px){
	.buy
{
	margin-top: 20px !important;
}  
}
@media (max-width: 480px){
	  .infor_block_body{
		  padding-left: 30px;
		  padding-right: 30px;
	  }
	  .adres_link{
	  }
	  .add_body .col-md-6.col-12.active_element{
		  padding: 0px 0px 0px 0px !important;
	  } 
}
@media (max-width: 480px){
	body .login__block
{
	margin-top: 30px !important;
}
.info
{
	margin-top: 30px !important;
}
.auto_title
{
	margin-top: 30px !important;
}
.title__blog
{
	margin-top: 30px !important;
}
.error__block
{
	margin-top: 30px !important;
}
.buy
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.title__autospin
{
	margin-top: 30px !important;
}
.title__support
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.up_balance
{
	margin-top: 30px !important;
}  
}
textarea.textarea_buy{
font-family: 'Montserrat';
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #9F9F9F;
padding-left: 45px;
padding-top: 30px;
}
.textarea_add{
	font-family: 'Montserrat';
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #9F9F9F;
padding-left: 45px;
padding-top: 30px;
}
#active_element_inputes_m{
	padding: 26px;
	padding-left: 45px;
	font-family: Montserrat;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #9F9F9F !important;

}
.textarea_add{
color: #9F9F9F !important;

}
.select_card{
	position: relative;
	appearance: none;
	outline: none;
	border-radius: 50px;
	border: 2px solid #407BFF;
	font-family: Montserrat;
	font-size: 18px;
	font-style: italic !important;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #9F9F9F;
	padding-left: 30px;	
	width: 100%;
	padding: 17px 45px !important;
}
.form-select{
	position: relative;

}
.form-select2{
	margin-top: 20px;
}
.form-select::before{
	content: '';
	position: absolute;
	right: 23px;
	top: 26px;
	z-index: 4;
	width: 22px;
	height: 12px;
	background: url('../images/sel-arr.svg') 0 0/cover no-repeat;
}
@media (max-width: 480px){
	  .form-select::before{
	  }
	  	  .form-select::before{
		 background: url('../images/sel-arr.svg') 0 0 no-repeat;
	  }
	  

}
.active_element_inputes_m{
	border: 2px solid #407BFF;
	border-radius: 50px;
	color: #9F9F9F;
	padding: 30px 30px;
	margin-top: 20px;
	font-family: Montserrat;
	font-size: 20px;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #263657;

}

.form-control{
	border: 2px solid #407BFF;
	border-radius: 50px;
	color: #9F9F9F;
	padding:30px; 
  padding-left: 45px;
	margin-top: 20px;
	font-family: Montserrat;
	font-size: 20px;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #263657;

} 
