.login__block
{
	margin-top: 60px !important;
}
.info
{
	margin-top: 60px !important;
}
.auto_title
{
	margin-top: 60px !important;
}
.title__blog
{
	margin-top: 60px !important;
}
.error__block
{
	margin-top: 60px !important;
}
.buy
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.title__autospin
{
	margin-top: 60px !important;
}
.title__support
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.up_balance
{
	margin-top: 60px !important;
}
@media (max-width: 480px){
	body .login__block
{
	margin-top: 30px !important;
}
.info
{
	margin-top: 30px !important;
}
.auto_title
{
	margin-top: 30px !important;
}
.title__blog
{
	margin-top: 30px !important;
}
.error__block
{
	margin-top: 30px !important;
}
.buy
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.title__autospin
{
	margin-top: 30px !important;
}
.title__support
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.up_balance
{
	margin-top: 30px !important;
}  
}
.container{
	margin-top: 0px;
}
.title{
	margin-top: 50px;
}
.title-2{
	margin-top: 120px;
}

.title-3{
	margin-top: 0px;
}
.body .btn.btn__blue.btn__blue2.btn__blue1{
	padding: 10px 25px !important;
	margin-top: 50px !important;
}
.body .btn.btn__blue.mt15{
	padding: 10px 40px !important;
}
.prices.d-flex{
margin-top: 35px;
}
.price_hor:first-child{
	margin-top: 0;
	padding: 22px 78px;
}
.service__about.container{
	margin-top: 40px;
}

@media (max-width: 480px){
	.price__title h3{
		font-size: 18px;
line-height: 22px;
margin-bottom: 30px;
margin-bottom: 0;
	}
	.sec1__left{
		margin-top: 0;
	}
	.title.title-2{
		margin-top: 50px !important;
	}
	.price .number{
		margin-top: 0 !important;

	}
	.sec1__left p{
		margin-top: 12px;
	}
	.title.margin-title{
		margin-top: 50px;
	}
	  .sec1__left h2{
		  font-size: 26px;
line-height: 32px;
margin-top: 10px;
	  }
	  .sec1__left p{
		  font-size: 12px;
line-height: 15px;
	  }
	  .btn.red__button.red__button1{
		  margin-top: 35px;
	  }
	  .body .btn.btn__blue.mt15{

	  }
	  .body .btn.btn__blue.mt15.top-btn{
		 padding: 10px 32px !important;
		 margin-top: 0 !important; 
		 font-weight: 900;
		font-size: 22px !important;
		line-height: 27px !important;

	  }
	  .feedback{
		  margin: 0px 0px 0px 0px !important;
	  }
	  .feedback p{
		  margin-top: 15px;
	  }
	  .container{
		  padding: 0px 0px 0px 0px;
	  }
	  .title{
		  margin-top: 0;
	  }
	  .body .btn.btn__blue.mt15{
		  font-size: 18px !important;
line-height: 22px !important;
		 padding: 13px 26px !important; 

	  }
	  .service__about{
		  margin-top: 50px;
		  margin-bottom: 17px;
	  }
	  .sevice__about_block{
		  display: flex;
		  align-items: center;
		 justify-content: space-between;
		 width: 100% !important;
		 margin-left: 0;
		 margin-right: 0;
	  }
	  .sevice__about_block {
	  }
	   .sevice__about_block img{
			max-width: 95px;
			max-height: 95px;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		.sevice__about_block div{
			padding-left: 40px;
		}
		.sevice__about_block h3{
			font-size: 14px;
			line-height: 22px;
			text-align: left;

		}
		.slick-dots{
			display: none !important;
		}
		.feedback__title{
			font-size: 18px;
		}
		.feedback__stars img{
			width: 10px;
			height: 10px;
		}
		.sevice__about_block p{
			text-align: left;
			font-size: 8px;
		}
		.price_hor{
			padding: 22px 0px 22px 0px !important;
		}
}
#active_element_inputes_m{
	padding: 26px;
	padding-left: 45px;
	font-family: Montserrat;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #9F9F9F !important;

}
.textarea_add{
color: #9F9F9F !important;

}