.login__block
{
	margin-top: 60px !important;
}
.info
{
	margin-top: 60px !important;
}
.auto_title
{
	margin-top: 60px !important;
}
.title__blog
{
	margin-top: 60px !important;
}
.error__block
{
	margin-top: 60px !important;
}
.buy
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.title__autospin
{
	margin-top: 60px !important;
}
.title__support
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.up_balance
{
	margin-top: 60px !important;
}
@media (max-width: 480px){
	body .login__block
{
	margin-top: 30px !important;
}
.info
{
	margin-top: 30px !important;
}
.auto_title
{
	margin-top: 30px !important;
}
.title__blog
{
	margin-top: 30px !important;
}
.error__block
{
	margin-top: 30px !important;
}
.buy
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.title__autospin
{
	margin-top: 30px !important;
}
.title__support
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.up_balance
{
	margin-top: 30px !important;
}  
}

@media (max-width: 480px){
	  .error__title{
		  font-weight: 900 !important;
font-size: 72px !important;
line-height: 88px !important;
	  }
	  .error__body{
		  font-size: 8px !important;
line-height: 10px !important;
margin-bottom: 0 !important;
	  }
	  .home__text{
line-height: 10px !important;

	  }
	  .home__text a{
		  font-size: 8px !important;
line-height: 10px !important;
margin-bottom: 0;
margin-top: 0;
	  }
}
#active_element_inputes_m{
	padding: 26px;
	padding-left: 45px;
	font-family: Montserrat;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #9F9F9F !important;

}
.textarea_add{
color: #9F9F9F !important;

}