.login__block
{
	margin-top: 60px !important;
}
.info
{
	margin-top: 60px !important;
}
.auto_title
{
	margin-top: 60px !important;
}
.title__blog
{
	margin-top: 60px !important;
}
.error__block
{
	margin-top: 60px !important;
}
.buy
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.title__autospin
{
	margin-top: 60px !important;
}
.title__support
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.up_balance
{
	margin-top: 60px !important;
}
@media (max-width: 480px){
	body .login__block
{
	margin-top: 30px !important;
}
.info
{
	margin-top: 30px !important;
}
.auto_title
{
	margin-top: 30px !important;
}
.title__blog
{
	margin-top: 30px !important;
}
.error__block
{
	margin-top: 30px !important;
}
.buy
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.title__autospin
{
	margin-top: 30px !important;
}
.title__support
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.up_balance
{
	margin-top: 30px !important;
}  
}
.container .title_story{
	margin-top: 40px;
}
@media (max-width: 992px){
	  .cards{
		  margin-left: 0;
	  }
}
@media (max-width: 480px){
	.blue_link_card{
		font-size: 8px;
		display: flex;
		flex-direction: column;
		justify-content:center;align-items: center;
	}
	.btnn_send_text{
		font-size: 18px;
line-height: 22px;
	}
	.select_card {
		background: #fff;
	}
	.col-md-5.col-12.cards{
		margin-top: 30px;
	}
	.select_card{
		height: 30px;
		padding-left: 23px !important;
		font-size: 12px;
line-height: 15px;
padding-top: 0 !important;
padding-bottom: 0 !important;
	}

	.input_for_up{
		height: 30px;
		padding-left: 23px !important;
		font-size: 12px;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
line-height: 15px;
	}
	.title_up_card{
		font-size: 20px;
		line-height: 24px;
		white-space: nowrap;
	}
	.feedback__supports{
		width: 100%;
		margin-top: 50px;
	}
	.card{
		display: flex;
		flex-direction: column;
		justify-content:center;align-items: center;
	}
	  .blue_link_card_mini{
		  text-align: center !important;
		  font-size: 6px;
	  }
	  .storyz{
		  padding: 12px 23px 35px 23px;
	  }
	  .storyz__row{
		  margin-bottom: 0 !important;
	  }
	  .container .title_story{
		  display: none;
	  }
	  .feedback__supports{
border-radius: 15px;

	  }
	  .feedback__supports h2{
		  font-size: 18px;
		  line-height: 22px;
	  }
	  .feedback__supports p{
		  font-size: 8px;
line-height: 10px;
	  }

}
@media (max-width: 767px){
	  	  .storyz__row{
		  margin-right: 0;
	  }
	  .storyz{
		  display: flex;
		  justify-content: space-between;

	  }
}

#active_element_inputes_m{
	padding: 26px;
	padding-left: 45px;
	font-family: Montserrat;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #9F9F9F !important;

}
.textarea_add{
color: #9F9F9F !important;

}
