.login__block
{
	margin-top: 60px !important;
}
.info
{
	margin-top: 60px !important;
}
.auto_title
{
	margin-top: 60px !important;
}
.title__blog
{
	margin-top: 60px !important;
}
.error__block
{
	margin-top: 60px !important;
}
.buy
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.title__autospin
{
	margin-top: 60px !important;
}
.title__support
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.up_balance
{
	margin-top: 60px !important;
}
@media (max-width: 480px){
	body .login__block
{
	margin-top: 30px !important;
}
.info
{
	margin-top: 30px !important;
}
.auto_title
{
	margin-top: 30px !important;
}
.title__blog
{
	margin-top: 30px !important;
}
.error__block
{
	margin-top: 30px !important;
}
.buy
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.title__autospin
{
	margin-top: 30px !important;
}
.title__support
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.up_balance
{
	margin-top: 30px !important;
}  
}
.table_top_left img{
	cursor: pointer;
}
.icon__table{
	cursor: pointer;
}
@media (max-width: 1200px){
	.mob-hidden{
	display: none;
}  
}
@media (max-width: 992px){
	  .table__bottom__row:nth-child(2){
		  max-width: 170px;
		      white-space: normal;
	  }
	  .table__bottom__value{
		  height: 45px;
	  }
	  .table__bottom{
		  overflow-x: unset;
	  }
	  .mob-0{
		  visibility: hidden;
	  }
}

@media (max-width: 767px){
	  .table__bottom__title{
		  font-size: 12px;
	  }
	  .title_website{
		  font-size: 10px;
	  }
	  .table__bottom__value{
		  font-size: 8px;
	  }
	  .table__bottom__value_button{
		  width: 65px;
height: 18px;


	  }
	  .i_btn_blue{
font-size: 8px !important;
line-height: 10px !important;
	  }
	  #margin_for_btn{
		  margin-top: 90px !important;
	  }
	  .table__bottom .i_btn_blue{
		  margin-top: 65px;

	  }
	  .table__bottom{
		  padding-left: 15px;
		  padding-right: 15px;
	  }
	  .table__top{
		  padding-right: 15px;
		  padding-left: 15px;
	  }
	  .table__bottom__row{
		  margin-right: 5px;
	  }
	  .table__bottom__value {}
	  .table__bottom__row:nth-child(3){
		  max-width: 60px;
	  }
	  .table__bottom__value{
		  overflow: hidden;
	  }
}
.table__top{
	overflow: unset;
}
@media (max-width: 767px){
	  .table_top_right {
		  display: none;
	  }
}
@media (max-width: 550px){
	  .table_top_left img{
		  width: 18px;
		  height: 18px;
	  }
	  .icon__table{
		  margin-left: 7px;
	  }
	  .table_top_left p{
		  margin-right: 2px;
		  font-size: 12px !important;
line-height: 15px !important;
	  }
	  .first-p::before{
		  bottom: -4px;
	  }
}
.message__bottom span{
	display: none;
}
@media (max-width: 922px){
	  .message__bottom span{
	display: inline-block;
}
}
.message__top{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.message{
	max-width: 645px !important;
}
@media (max-width: 660px){
	.message{
	max-width: calc(100vw - 30px) !important;
}
	  
}
.message__top img{
	object-fit: none;
	margin-top: 5px;
}
.message{
	padding: 0px 0px !important;
}
.message__top{
	padding: 18px 25px 10px 25px;
	border-bottom: 1px solid #407BFF;
	margin-bottom: 20px;
}

.message__bottom{
	padding: 0px 25px 35px 25px;
}

@media (max-width: 767px){
	.message__bottom p{
	font-size: 8px !important;
	line-height: 10px;

}  
.message__top h2{
	font-size: 14px;
	padding-right: 30px;
	margin-top: 0;
	line-height: 17px;
}
.message__bottom b{
	font-size: 8px !important;
	font-weight: 400;
	line-height: 10px;
	font-family: 'Montserrat', sans-serif;
}
}

.message__bottom p b{
	font-weight: 600;
}
.message__bottom p{
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.message__bottom a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #152956;
	text-decoration: none !important;
}

#active_element_inputes_m{
	padding: 26px;
	padding-left: 45px;
	font-family: Montserrat;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #9F9F9F !important;

}
.textarea_add{
color: #9F9F9F !important;

}
@media (max-width: 550px){
	  .mob-none{
		  display: none;
	  }
}