.login__block
{
	margin-top: 60px !important;
}
.info
{
	margin-top: 60px !important;
}
.auto_title
{
	margin-top: 60px !important;
}
.title__blog
{
	margin-top: 60px !important;
}
.error__block
{
	margin-top: 60px !important;
}
.buy
{
	margin-top: 60px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.title__autospin
{
	margin-top: 60px !important;
}
.title__support
{
	margin-top: 100px !important;
}
.block__info
{
	margin-top: 60px !important;
}
.up_balance
{
	margin-top: 60px !important;
}
@media (max-width: 480px){
	body .login__block
{
	margin-top: 30px !important;
}
.info
{
	margin-top: 30px !important;
}
.auto_title
{
	margin-top: 30px !important;
}
.title__blog
{
	margin-top: 30px !important;
}
.error__block
{
	margin-top: 30px !important;
}
.buy
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.title__autospin
{
	margin-top: 30px !important;
}
.title__support
{
	margin-top: 30px !important;
}
.block__info
{
	margin-top: 30px !important;
}
.up_balance
{
	margin-top: 30px !important;
}  
}
.title.title__support{
font-weight: 900;
font-size: 36px;
margin-top: 80px;
}
.feedback__title.feedback__title__center{
	font-weight: 900;
font-size: 28px;
}
.feedback__title{
	text-align: center !important;
}
p.feedback_text{
	max-width: 87%; 
	margin-right: auto;
	margin-left: auto;
}
.title-2{
	margin-top: 100px;
}
.story{
	display: flex;
	max-width: 74%;
	justify-content: space-between;
}
.textarea_buy::placeholder{
	font-style: italic;
	color: #9F9F9F !important;
}
.textarea_buy{
	font-style: italic;

}
.form-control.inputts{
	font-style: italic;

}
.form-control.inputts::placeholder{
	font-style: italic;
	color: #9F9F9F !important;
}

@media (max-width: 480px){
	  .story{
		  width: 100%;
		  max-width: 100%;
	  }
	  .container{
		  padding: 0px 0px 0px 0px;
	  }
	  .row__title{

	  }
	  .row__value{
		  white-space: normal;
		  text-align: left;
	  }
	  .row__title span{
display: none;
	  }
	  .title-2{
		  margin-top: 30px;
	  }
	  .button__red_text{
		  font-size: 12px;
line-height: 15px;
	  }
}
.button__red_text span{
	font-size: 30px;
	font-weight: 400 ;
}
.button__red_text{
	display: flex;
	align-items: center;
}
#active_element_inputes_m{
	padding: 26px;
	padding-left: 45px;
	font-family: Montserrat;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #9F9F9F !important;

}
.textarea_add{
color: #9F9F9F !important;

}