.block__info{
	margin-top: 150px;
}
.title{
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 900;
	line-height: 44px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #152956;

}
.body__1{
	margin-top: 45px;

	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;

}
.m-1{
	margin-top: 45px;
}
.m-2{
	margin-top: 40px;
}
.body__2{
	margin-top: 10px;

	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;

}
.body__3{
	margin-top: 10px;
	margin-bottom: 132px;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;
}
.body__4{
	margin-top: 10px;
	margin-bottom: 150px;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.035em;
	text-align: left;
}