@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  90% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
.reg-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  z-index: 10;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr -webkit-min-content;
  -ms-grid-rows: 1fr min-content;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.reg-menu::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.3)),
    to(rgba(255, 255, 255, 0.3))
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.reg-menu_opened::before {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.reg-menu__short {
  background-image: url('../images/menu-reg-bg20.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 7px 5px 13px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr) 1fr repeat(2, 1fr);
  pointer-events: all;
  position: relative;
}

.reg-menu__short::before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 86, 86, 0.2);
  -webkit-filter: blur(15px);
  filter: blur(15px);
  z-index: -1;
}

.reg-menu__short-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-dark);
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 5px 2px;
  border-radius: 10px;
}

.reg-menu__short-item_active {
  /* color: #fff;
  background-color: var(--color-secondary); */
}

/* .reg-menu__short-item_active::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 20%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-secondary);
} */

.reg-menu__short-item-accent {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  position: relative;
  z-index: 1;
  /* background-image: url('../images/icons/plus.png'); */
  background-position: center;
  background-repeat: no-repeat;
  animation: rotate 20s infinite;
}
.reg-menu__short-item-accent::before,
.reg-menu__short-item-accent::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 3px;
  height: 50%;
  background-color: #fff;
  border-radius: 5px;
}
.reg-menu__short-item-accent::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.reg-menu__short-item svg {
  width: 15px;
  height: 15px;
  fill: var(--color-dark);
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  /* filter: brightness(0) invert(1); */
}

.reg-menu__short-item_active svg {
  fill: var(--color-secondary);
}

/* .reg-menu__short-item_active .reg-menu__short-item-img {
  filter: brightness(0) invert(1);
} */

.reg-menu__accent-link {
  width: 100%;
  height: 100%;
}

.reg-menu__button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.reg-menu__long {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    'ballance socials'
    'list list'
    'setting exit';
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-rows: min-content 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  -ms-grid-columns: 1fr -webkit-min-content;
  -ms-grid-columns: 1fr min-content;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  gap: 40px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 15px 40px;
  padding: 15px 25px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -webkit-box-shadow: -2px 4px 20px rgba(106, 110, 125, 0.2);
  box-shadow: -2px 4px 20px rgba(106, 110, 125, 0.2);
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

.reg-menu__long_opened {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.reg-menu__long-inner-container {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list;
  -ms-grid-row-align: start;
  align-self: start;
}

.reg-menu__long-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  max-height: 100%;
  height: 100%;
  overflow: auto;
}

.reg-menu__long-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  color: var(--color-dark);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.reg-menu__long-icon {
  width: 15px;
  height: 15px;
}

.reg-menu__long-ballance {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ballance;
  border: 1px solid var(--color-primary);
  -ms-grid-column-align: start;
  justify-self: start;
  padding: 5px 8px;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  /* max-width: 50px; */
}

.reg-menu__long-settings {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: setting;
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/settings.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reg-menu__socials {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: socials;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.reg-menu__social {
  display: inline-block;
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.reg-menu__social-icon {
  width: 100%;
  height: 100%;
}

.reg-menu__exit {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: exit;
  padding: 8px 12px;
  border: 1px solid var(--color-secondary);
  background: transparent;
  border-radius: 15px;
  color: var(--color-dark);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-self: end;
}
