.tasks {
  margin: calc(var(--space-primary) + 20px) auto
    calc(var(--space-primary) + 20px);
  max-width: var(--width-max);
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  align-items: start;
  justify-content: space-between;
  position: relative;
  overflow: visible;
}

.tasks__inner {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  max-width: 80%;
}
.tasks__title {
  margin: 0 0 20px;
  color: var(--color-dark);
}

.tasks__subtitle {
  color: var(--color-dark);
  margin: 0;
}

.tasks__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasks__item {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(178, 185, 220, 0.43);
  border-left: 20px solid var(--color-primary);
}

.tasks__card-title {
  display: flex;
  margin: 0;
  margin: 20px 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-semi-dark);
}

.tasks__spoiler-btn {
  width: 30px;
  height: 30px;
  background-color: var(--color-primary);
  background-image: url('https://cdn.rawgit.com/bread2077/temp/main/images/icons/arrow-bottom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.tasks__spoiler-btn_active {
  transform: rotate(180deg);
  background-color: var(--color-secondary);
}

.tasks__description {
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: start;
  gap: 20px;
  padding: 20px;
}

.tasks__spoiler {
  position: relative;
  height: 100%;
  transition: height 0.1s linear;
}

.tasks__spoiler-short,
.tasks__spoiler-long {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tasks__spoiler-short,
.tasks__spoiler-long {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s, visibility 0.6s linear;
}

.tasks__spoiler_active {
  opacity: 1;
  visibility: visible;
}

.tasks__options {
  display: flex;
  gap: 30px;
  margin: 15px 0 0;
}

.tasks__text,
.tasks__image-name {
  margin: 0 0 10px;
  color: var(--color-dark);
}

.tasks__image-name {
  display: none;
}

.tasks__accent {
  color: var(--color-secondary);
}

.tasks__coin,
.tasks__time {
  display: grid;
  gap: 10px;
  margin: 0;
}

.tasks__example-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.tasks__pupup-button {
  grid-area: button;
  background-color: var(--color-secondary);
  background-image: url('https://cdn.rawgit.com/bread2077/temp/main/images/icons/image-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  transition: background-color 0.4s ease-in-out;
}

.tasks__pupup-button:hover {
  background-color: var(--color-secondary-hover);
}

@media screen and (max-width: 1161px) {
  .tasks {
    margin: calc(var(--space-primary) + 20px) 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .tasks__inner {
    max-width: 100%;
    top: 90px;
  }
}

@media screen and (max-width: 768px) {
  .tasks {
    display: flex;
    flex-direction: column;
    margin: var(--space-primary) 20px var(--space-primary);
    padding: 0;
    gap: 0;
  }
  .tasks__inner {
    position: static;
    margin: 0 0 40px;
    max-width: 100%;
  }
  .tasks__list {
    width: 100%;
  }
}
