  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/style/index-9.v6.css">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/style/new-style.v10.css">
<section class="container">
			<div class="row align-center">
				<div class="col-md-6 col-xs-12 sec1__left">
					<h1>Продвижение в Instagram*</h1>
					<p>Накрутка подписчиков, просмотров, комментариев и лайков в Инстаграме*</p>
                  {% if not user['auth'] %}
                  <a href="/signup" class="btn btn__blue mt15 top-btn">Попробуйте!</a>
                  {% endif %}
				</div>
				<div class="col-md-6 col-xs-12 sec1__right">
					<img class="img-responsive" src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/instagram1.png" alt="">
				</div>
			</div>
		</section>
		<div class="container ">
			<h2 class="title">Накрутка Instagram*</h2>
			<p align="justify">Инстаграм* охватил большую аудиторию в России и других странах мира. Этой социальной сетью пользуются
      обычные люди, выкладывающие фото событий из своей жизни и пользователи, имеющие цель заработать за счет рекламных
       интеграций. При этом владелец любого аккаунта старается обрести и расширить свою аудиторию, поэтому и появился наш
       сервис продвижения Инстаграм*-аккаунтов.</p>

<p align="justify">Сервис продвижения в Instagram* позволяет сбалансировано увеличить все показатели. Рост подписчиков при
отсутствии лайков, комментариев вызывает подозрение и сомнения у потенциальных посетителей аккаунта, поэтому нужно увеличивать
все показатели пропорционально.</p>
          <p align="center">
          •<b>         Накрутка лайков.</b>
          Этот показатель положительных оценок можно увеличить, используя наш сервис. Каждый посетитель аккаунта в
          первую очередь обращает внимание на количество поставленных «Мне нравится». Оценив лайки, пользователь
          принимает решение, подписаться ли на аккаунт, совершить ли покупку товара, услуги.</p>
          <p align="center">•<b>         Накрутка подписчиков.</b>
          После продвижения через Instagram* увеличивается число активных посетителей профиля. Это не только
          моментальное увеличение подписчиков профиля, но и ускорение темпов раскручивания страницы в целом.</p>
          <p align="center">•<b>         Накрутка комментариев.</b>
          Посредством накрутки комментариев добавляется нужное количество положительных отзывов, что
          позволяет увеличить прайс на продвигаемые товары, услуги. Это очень эффективно для бизнес-аккаунтов,
          поскольку отзывы повышают уровень доверия и побуждают совершить целевое действие.</p>

			<h2 class="title margin-title">Цены на накрутку Instagram*-аккаунта</h2>
			<div class="sevice__group d-flex" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
              <div class="price d-none d-block__important">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/user.png" alt="">
						<div class="price__item__title">РУ Подписчики</div>
					</div>
					<div class="price__price">
						50₽
					</div>
					<p class="number">за 1000 штук</p>
					<button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
              <div class="price d-none d-block__important">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/user.png" alt="">
						<div class="price__item__title">Подписчики</div>
					</div>
					<div class="price__price">
						12₽
					</div>
					<p class="number">за 1000 штук</p>
					<button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
              <div class="price d-none d-block__important">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/advices/share.png" alt="">
						<div class="price__item__title">Комментарии</div>
					</div>
					<div class="price__price">
						35₽
					</div>
					<p class="number">за 100 штук</p>
					<button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
              <div class="price d-none d-block__important">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/heart.png" alt="">
						<div class="price__item__title">Лайки</div>
					</div>
					<div class="price__price">
						3₽
					</div>
					<p class="number">за 1000 штук</p>
                  <button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
              <div class="price d-none d-block__important">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/heart.png" alt="">
						<div class="price__item__title">Автолайки</div>
					</div>
					<div class="price__price">
						3₽
					</div>
					<p class="number">за 1000 штук</p>
                  <button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
              <div class="price d-none">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/Group.png" alt="">
						<div class="price__item__title">Просмотры</div>
					</div>
					<div class="price__price">
						0.6₽
					</div>
					<p class="number">за 1000 штук</p>
					<button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
              <div class="price d-none">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/Group.png" alt="">
						<div class="price__item__title">Автопросмотры</div>
					</div>
					<div class="price__price">
						0.6₽
					</div>
					<p class="number">за 1000 штук</p>
					<button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
              <div class="price d-none d-block__important">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/instagram3.png" alt="">
						<div class="price__item__title">Сторис</div>
					</div>
					<div class="price__price">
						15₽
					</div>
					<p class="number">за 1000 штук</p>
					<button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
			</div>
          <a href="/services" class="btn btn__blue btn__blue1">Посмотреть все цены</a>
			<div class="service__about">
				<div class="sevice__about_block">
					<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/startup.png" alt="">
					<div class="sevice__about_block__description">
						<div class="sevice__about_block__title">
							Быстро
							<br>
						</div>
						<p><br>Старт заказов в течение нескольких минут. Высокая скорость увелчения показателей.</p>
					</div>
				</div>
				<div class="sevice__about_block">
					<img src="https://cdn.rawgit.com/bread2077/temp/main/images/tap.png" alt="">
					<div class="sevice__about_block__description">
						<div class="sevice__about_block__title">
							Качественно
							<br>
						</div>
						<p><br>Мы гарантируем высокое качество наших услуг. Вы будете в восторге.</p>
					</div>
				</div>
				<div class="sevice__about_block">
					<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/surface.png" alt="">
					<div class="sevice__about_block__description">
						<div class="sevice__about_block__title">
							Надежно
							<br>
						</div>
						<p><br>Полная конфиденциальность. Никто не узнает, что вы пользовались нашими услугами.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<h1 class="title">Отзывы</h1>
			<div class="feedback__slider fs">
				<div class="feedback">
					<div class="feedback__background"></div>
					<h2 class="feedback__title">Николай</h2>
					<div class="feedback__stars">
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
					</div>
					<p class="feedback_text">Пользуюсь услугами сайта smmprime.com в течение продолжительного времени, и всё устраивает. Отзывчивая администрация, все заказы выполнили, результат соответствует ожиданиям, буду пользоваться сервисом ещё!</p>
				</div>
				<div class="feedback">
					<div class="feedback__background"></div>
					<h2 class="feedback__title">Дарья</h2>
					<div class="feedback__stars">
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
					</div>
					<p class="feedback_text">Воспользовалась вашим сервисом в первый раз и осталась довольна. Возникла проблема с заказом, но работники сайта мне помогли и объяснили, в чём была проблема. Надеюсь на дальнейшее сотрудничество!</p>
				</div>
				<div class="feedback">
					<div class="feedback__background"></div>
					<h2 class="feedback__title">Анастасия</h2>
					<div class="feedback__stars">
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
					</div>
					<p class="feedback_text">Отличный сайт, парни молодцы. Всё понятно и быстро, накрутка качественная.</p>
				</div>
			</div>
		</div>
