.registration {
  max-width: var(--width-max);
  padding: calc(var(--space-primary) + 40px) 0 var(--space-primary);
  margin: 0 auto !important;
}
.registration__title {
  color: var(--color-dark);
  margin: 0 0 40px;
  text-align: center;
}
.registration__form {
  display: grid;
  grid-template-areas:
    '. error .'
    'login password button'
    'registration forget remember'
    'capcha . .';
  gap: 20px 40px;
}
.registration__input {
  margin: 0 !important;
}
.registration__input_grid_login {
  grid-area: login;
}
.registration__input_grid_password {
  grid-area: password;
}
.registration__error {
  grid-area: error;
}
.registration__input_grid_remember {
  grid-area: remember;
}
.registration__input_type_text {
  padding: 14px 20px;
  background: #f8f9fd;
  border: 1px solid var(--color-primary);
  border-radius: 100px;
}
.registration__checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.registration__text,
.registration__checkbox-label,
.registration__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin: 0;
  color: var(--color-semi-dark);
}
.registration__text_grid_registration {
  grid-area: registration;
}
.registration__link {
  color: var(--color-primary);
}
.registration__link_grid_forget {
  grid-area: forget;
}
.registration__capcha {
  grid-area: capcha;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration__button {
  grid-area: button;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
}
@media screen and (max-width: 1160px) {
  .registration {
    margin: calc(var(--space-primary) + 40px) 30px var(--space-primary);
  }
}

@media screen and (max-width: 780px) {
  .registration {
    padding: calc(var(--space-primary) + 20px) 0 var(--space-primary);
    margin: 0 30px !important;
  }
  .registration__form {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'error error'
      'login login'
      'password password'
      'remember forget'
      'capcha capcha'
      'button button'
      'registration registration';
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  .registration__text_grid_registration {
    text-align: center;
  }
  .registration__link_grid_forget {
    justify-self: end;
  }
  .registration__input_grid_password {
    margin-bottom: 8px;
  }
  .registration__button {
    font-size: 16px;
    padding: 12px 0;
    margin: 20px 0 0;
  }
}
