.menu-burger {
  display: none;
  cursor: pointer;
  position: relative;
  transition: opacity 0.4s ease-in-out;
  width: 24px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 10;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu-burger:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1100px) {
  .menu-burger {
    display: block;
  }
}
