<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.rawgit.com/bread2077/temp/main/style/index-9.v6.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.rawgit.com/bread2077/temp/main/style/new-style.v10.css"
/>
<section class="container">
  <div class="row align-center">
    <div class="col-md-6 col-xs-12 sec1__left">
      <h1>Накрутка подписчиков в Телеграм</h1>
      {% if not user['auth'] %}
      <a href="/signup" class="btn btn__blue mt15 top-btn">Попробуйте!</a>
      {% endif %}
    </div>
    <div class="col-md-6 col-xs-12 sec1__right">
      <img
        class="img-responsive"
        src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/teach.png"
        alt=""
      />
    </div>
  </div>
</section>

<h2 class="title margin-title">Цены на накрутку Telegram-аккаунта</h2>
<div class="prices d-flex">
  <div class="price d-block__important">
    <div class="price__title sirvice-card__title">
      <img
        src="https://cdn.rawgit.com/bread2077/temp/main/images/telegram.png"
        alt=""
        class="service-card__img"
      />
      <div class="price__item__title">Живые Подписчики</div>
    </div>
    <div class="price__price">3.5₽</div>
    <p class="number sirvice-card__price-description">за 1 Подписчика</p>
    <br />
    <p>🔝Вывод в ТОП</p>
    <p>🔹Рост Онлайна</p>
    <p>⭐Эксклюзивная услуга</p>
    <p>🤵Реальные РФ аккаунты</p>
    <p>✅Безопасная накрутка</p>
    <p>⌛️Запуск в течение 24 часов</p>
    <p>🚀Скорость до 1000 в сутки</p>
    <br />

    <button
      onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}"
      class="btnn red__button red__button1"
    >
      Заказать
    </button>
  </div>
  <div class="price d-block__important">
    <div class="price__title sirvice-card__title">
      <img
        src="https://cdn.rawgit.com/bread2077/temp/main/images/telegram.png"
        alt=""
        class="service-card__img"
      />
      <div class="price__item__title">РУ Подписчики</div>
    </div>
    <div class="price__price">9.9₽</div>
    <p class="number sirvice-card__price-description">за 100 Подписчиков</p>
    <br />
    <p>🔹Подписчики с Аватарами</p>
    <p>⭐Эксклюзивная услуга</p>
    <p>🤵Русские имена у подписчиков</p>
    <p>✅Гарантия от списаний</p>
    <p>⌛️Запуск в течение 1 часа</p>
    <p>🚀Скорость до 5000 в сутки</p>
    <br />
    <br />
    <button
      onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}"
      class="btnn red__button red__button1"
    >
      Заказать
    </button>
  </div>
  <div class="price d-block__important">
    <div class="price__title sirvice-card__title">
      <img
        src="https://cdn.rawgit.com/bread2077/temp/main/images/telegram.png"
        alt=""
        class="service-card__img"
      />
      <div class="price__item__title">Подписчики с Онлайном</div>
    </div>
    <div class="price__price">18₽</div>
    <p class="number sirvice-card__price-description">за 100 Подписчиков</p>
    <br />
    <p>🔹Рост Онлайна</p>
    <p>⭐Эксклюзивная услуга</p>
    <p>🤵Русские имена у подписчиков</p>
    <p>✅Гарантия от списаний</p>
    <p>⌛️Запуск в течение 1 часа</p>
    <p>🚀Скорость до 5000 в сутки</p>
    <br />
    <br />
    <button
      onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}"
      class="btnn red__button red__button1"
    >
      Заказать
    </button>
  </div>
</div>

<a href="/services" class="btn btn__blue btn__blue1">Посмотреть все цены</a>
<div class="container">
  <br />
  <br />
  <br />
  <h2 class="title">Накрутка Telegram</h2>
  <p calign="justify">
    В настоящее время Telegram стал одной из самых популярных и быстро
    развивающихся социальных сетей не только в России, но и в мире.
    Телеграм-каналы позволяют зарабатывать деньги, как на реализации своей
    собственной продукции, так и на размещении рекламы. Но такой вид заработка
    доступен только группам с большой аудиторией. Что же делать новичкам?
  </p>
  <p calign="justify">
    Мы предлагаем накрутку живых подписчиков в Телеграмм-каналы и группы. Данная
    услуга поможет поднять популярность нового канала и привлечь много новых
    пользователей. А там дело уже за вами. Вы размещаете годный контент, а мы
    накручиваем вам реальных подписчиков, которые поднимают популярность вашей
    группы. Купить подписчиков в тг можно у нас на сайте всего в 2 клика.
  </p>

  <div class="service__about">
    <div class="sevice__about_block">
      <img
        src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/startup.png"
        alt=""
      />
      <div class="sevice__about_block__description">
        <div class="sevice__about_block__title">
          Быстро
          <br />
        </div>
        <p>
          <br />Старт заказов в течение нескольких минут. Высокая скорость
          увелчения показателей.
        </p>
      </div>
    </div>
    <div class="sevice__about_block">
      <img
        src="https://cdn.rawgit.com/bread2077/temp/main/images/tap.png"
        alt=""
      />
      <div class="sevice__about_block__description">
        <div class="sevice__about_block__title">
          Качественно
          <br />
        </div>
        <p>
          <br />Мы гарантируем высокое качество наших услуг. Вы будете в
          восторге.
        </p>
      </div>
    </div>
    <div class="sevice__about_block">
      <img
        src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/surface.png"
        alt=""
      />
      <div class="sevice__about_block__description">
        <div class="sevice__about_block__title">
          Надежно
          <br />
        </div>
        <p>
          <br />Полная конфиденциальность. Никто не узнает, что вы пользовались
          нашими услугами.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="title margin-title">Отзывы</h2>
  <div class="feedback__slider fs">
    <div class="feedback">
      <div class="feedback__background"></div>
      <div class="feedback__title">Николай</div>
      <div class="feedback__stars">
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
      </div>
      <p class="feedback_text">
        Пользуюсь услугами сайта smmprime.com в течение продолжительного
        времени, и всё устраивает. Отзывчивая администрация, все заказы
        выполнили, результат соответствует ожиданиям, буду пользоваться сервисом
        ещё!
      </p>
    </div>
    <div class="feedback">
      <div class="feedback__background"></div>
      <div class="feedback__title">Дарья</div>
      <div class="feedback__stars">
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
      </div>
      <p class="feedback_text">
        Воспользовалась вашим сервисом в первый раз и осталась довольна.
        Возникла проблема с заказом, но работники сайта мне помогли и объяснили,
        в чём была проблема. Надеюсь на дальнейшее сотрудничество!
      </p>
    </div>
    <div class="feedback">
      <div class="feedback__background"></div>
      <div class="feedback__title">Анастасия</div>
      <div class="feedback__stars">
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
      </div>
      <p class="feedback_text">
        Отличный сайт, парни молодцы. Всё понятно и быстро, накрутка
        качественная.
      </p>
    </div>
  </div>
</div>
