<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.rawgit.com/bread2077/temp/main/style/index-9.v6.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.rawgit.com/bread2077/temp/main/style/new-style.v10.css"
/>
<section class="container">
  <div class="row align-center">
    <div class="col-md-6 col-xs-12 sec1__left">
      <h1>Накрутка реакций в Телеграм</h1>
      {% if not user['auth'] %}
      <a href="/signup" class="btn btn__blue mt15 top-btn">Попробуйте!</a>
      {% endif %}
    </div>
    <div class="col-md-6 col-xs-12 sec1__right">
      <img
        class="img-responsive"
        src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/teach.png"
        alt=""
      />
    </div>
  </div>
</section>
<div class="container">
  <h2 class="title">Накрутка Telegram</h2>
  <p calign="justify">
    Реакции в Телеграмм-каналах на постах являются одним из показателей
    вовлеченности аудитории на ряду с комментариями. Поэтому, если вы ведете
    Телеграм-канал и еще не подключили реакции пользователей, то рекомендуем
    сделать это прямо сейчас.
  </p>
  <p calign="justify">
    Этот функционал чем-то напоминает лайки в Инсте или в ВК, но с большим
    количеством вариантов. Накрутка реакций в Телеграмм поможет привлечь
    внимание пользователей к постам, укажет гостям канала на то, что тут
    интересно, раз столько людей реагируют на контент, а также поможет задать
    тональность поста, ведь реакции - это не только “сердечки”, но и другие
    эмодзи, отражающие настроение публикации.
  </p>
  <p calign="justify">
    Накручивайте лайки и другие реакции в Телеграм через онлайн-сервис
    СММ-Прайм!
  </p>

  <h2 class="title margin-title">Цены на накрутку Telegram-аккаунта</h2>
  <div class="prices d-flex">
    <div class="price d-block__important">
      <div class="price__title">
        <img
          src="https://cdn.rawgit.com/bread2077/temp/main/images/telegram.png"
          alt=""
        />
        <div class="price__item__title">Положительные реакции</div>
      </div>
      <div class="price__price">12₽</div>
      <p class="number">за 1000 штук</p>
      <button
        onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}"
        class="btnn red__button red__button1"
      >
        Заказать
      </button>
    </div>
    <div class="price d-block__important">
      <div class="price__title">
        <img
          src="https://cdn.rawgit.com/bread2077/temp/main/images/telegram.png"
          alt=""
        />
        <div class="price__item__title">Отрицательные реакции</div>
      </div>
      <div class="price__price">12₽</div>
      <p class="number">за 1000 штук</p>
      <button
        onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}"
        class="btnn red__button red__button1"
      >
        Заказать
      </button>
    </div>
  </div>

  <a href="/services" class="btn btn__blue btn__blue1">Посмотреть все цены</a>
  <div class="service__about">
    <div class="sevice__about_block">
      <img
        src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/startup.png"
        alt=""
      />
      <div class="sevice__about_block__description">
        <div class="sevice__about_block__title">
          Быстро
          <br />
        </div>
        <p>
          <br />Старт заказов в течение нескольких минут. Высокая скорость
          увелчения показателей.
        </p>
      </div>
    </div>
    <div class="sevice__about_block">
      <img
        src="https://cdn.rawgit.com/bread2077/temp/main/images/tap.png"
        alt=""
      />
      <div class="sevice__about_block__description">
        <div class="sevice__about_block__title">
          Качественно
          <br />
        </div>
        <p>
          <br />Мы гарантируем высокое качество наших услуг. Вы будете в
          восторге.
        </p>
      </div>
    </div>
    <div class="sevice__about_block">
      <img
        src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/surface.png"
        alt=""
      />
      <div class="sevice__about_block__description">
        <div class="sevice__about_block__title">
          Надежно
          <br />
        </div>
        <p>
          <br />Полная конфиденциальность. Никто не узнает, что вы пользовались
          нашими услугами.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="title margin-title">Отзывы</h2>
  <div class="feedback__slider fs">
    <div class="feedback">
      <div class="feedback__background"></div>
      <div class="feedback__title">Николай</div>
      <div class="feedback__stars">
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
      </div>
      <p class="feedback_text">
        Пользуюсь услугами сайта smmprime.com в течение продолжительного
        времени, и всё устраивает. Отзывчивая администрация, все заказы
        выполнили, результат соответствует ожиданиям, буду пользоваться сервисом
        ещё!
      </p>
    </div>
    <div class="feedback">
      <div class="feedback__background"></div>
      <div class="feedback__title">Дарья</div>
      <div class="feedback__stars">
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
      </div>
      <p class="feedback_text">
        Воспользовалась вашим сервисом в первый раз и осталась довольна.
        Возникла проблема с заказом, но работники сайта мне помогли и объяснили,
        в чём была проблема. Надеюсь на дальнейшее сотрудничество!
      </p>
    </div>
    <div class="feedback">
      <div class="feedback__background"></div>
      <div class="feedback__title">Анастасия</div>
      <div class="feedback__stars">
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
        <div class="star">
          <img
            src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png"
            alt=""
          />
        </div>
      </div>
      <p class="feedback_text">
        Отличный сайт, парни молодцы. Всё понятно и быстро, накрутка
        качественная.
      </p>
    </div>
  </div>
</div>
