.connection {
  padding: calc(var(--space-primary) + 20px) 0;
}

.connection_bg_white {
  background-color: white;
}

.connection_bg_light {
  background-color: var(--bg-color-secondary);
}

.connection__container {
  max-width: var(--width-max);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 60px;
}

.connection__title {
  margin: 0 0 20px;
  padding: 0;
  color: var(--color-dark);
}

.connection__text {
  margin: 0 0 40px;
  padding: 0;
  color: var(--color-semi-dark);
}

.connection__review {
  grid-template-areas:
    "review avatar"
    "name .";
  gap: 16px 20px;
}

.connection__quote {
  position: relative;
  z-index: 1;
  padding: 32px 20px;
}

.connection__quote::before,
.connection__quote::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.connection__quote::before {
  top: 80px;
  right: -35px;
  border-right: 25px solid transparent;
  border-bottom: 46px solid var(--color-secondary);
  transform: rotate(90deg) skew(30deg);
  z-index: -1;
}

.connection__quote::after {
  top: 82px;
  right: -31px;
  border-right: 21px solid transparent;
  border-bottom: 42px solid #fff;
  transform: rotate(90deg) skew(30deg);
  z-index: -1;
}

@media screen and (max-width: 1160px) {
  .connection__container {
    width: calc(100% - 30px * 2);
  }
}

@media screen and (max-width: 862px) {
  .connection {
    padding: var(--space-primary) 0;
  }

  .connection__container {
    gap: 0;
  }

  .connection__review {
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "review review"
      "avatar name";
    gap: 34px 16px;
  }

  .connection__description {
    margin-bottom: 40px;
    display: grid;
    justify-items: start;
  }

  .connection__button {
    justify-self: center;
  }

  .connection__quote {
    padding: 22px 16px;
  }

  .connection__quote::before {
    top: 100%;
    left: 70px;
    border-right: 25px solid transparent;
    border-bottom: 35px solid var(--color-secondary);
    transform: scale(-1, 1) rotate(180deg) skew(20deg);
  }

  .connection__quote::after {
    top: 100%;
    left: 72px;
    border-right: 21px solid transparent;
    border-bottom: 32px solid #fff;
    transform: scale(-1, 1) rotate(180deg) skew(20deg);
  }

  .connection__container {
    grid-template-columns: 1fr;
  }

  .connection__title {
    margin: 0 0 16px;
  }

  .connection__text {
    margin: 0 0 20px;
  }
}
