:root {
  --color-primary: #407bff;
  --color-secondary: #ff725e;
  --color-secondary-hover: #ff472d;
  --white: #fff;
  --semi-gray: #f8f9fd;
  --bg-color-primary: #f2f2fc;
  --bg-color-secondary: #f8f9fd;
  --color-dark: rgba(26, 20, 45, 0.9);
  --color-semi-dark: rgba(26, 20, 45, 0.6);
  --font: Montserrat, Arial, sans-serif;
  --width-max: 1160px;
  --space-primary: 60px;
}

.root {
  background-color: var(--white);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.root_hidden {
  overflow: hidden;
}
