.btn_color_light-orange {
  background-color: #fff;
  border: none;
  color: var(--color-secondary);
}

.btn_color_light-orange:hover,
.btn_color_light-orange:focus {
  color: var(--color-secondary-hover);
}
