.faq {
  background-color: var(--bg-color-secondary);
  padding: calc(var(--space-primary) + 20px) 0;
}
.faq__title {
  color: var(--color-dark);
  text-align: center;
  max-width: var(--width-max);
  margin: 0 auto 80px;
}
.faq__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: var(--width-max);
  margin: 0 auto;
  gap: 12px 40px;
  align-items: center;
}

.faq__item {
  background-color: #ffffff;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.faq__announce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 9px;
  margin: 5px 24px;
  min-height: 52px;
}

.faq__announce_opened {
  border-bottom: 1px solid rgba(26, 20, 45, 0.2);
}

.faq__description {
  padding: 20px 24px;
  margin-top: 0;
  transition: margin-top 0.4s linear;
  position: relative;
  overflow: hidden;
}

.faq__description_closed {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  margin-top: -40px;
}

.faq__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: var(--color-dark);
  margin: 0 0 10px;
  transform: translateY(0);
  transition: transform 0.4s linear;
}

.faq__text_closed {
  transform: translateY(-5%);
}

.faq__text:last-child {
  margin: 0;
}

.faq__button {
  width: 40px;
  height: 40px;
  background-image: url('https://cdn.rawgit.com/bread2077/temp/main/images/faq-show.svg');
  background-position: center;
  border: none;
  flex-shrink: 0;
  transition: transform 0.4s linear;
}

.faq__button:focus {
  outline: none;
  background-image: url('https://cdn.rawgit.com/bread2077/temp/main/images/faq-show.svg');
}

.faq__button:active {
  outline: none;
}

.faq__button_type_close {
  transform: rotate(45deg);
}

.faq__subtitle {
  color: var(--color-dark);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  /* margin: 15px 0; */
  margin: 0;
}

@media screen and (max-width: 800px) {
  .faq {
    padding: var(--space-primary) 30px;
  }

  .faq__title {
    text-align: left;
    margin: 0 auto 50px;
  }

  .faq__list {
    grid-template-columns: 1fr;
    gap: 6px;
  }

  .faq__item {
    min-height: 52px;
    height: 100%;
  }

  .faq__subtitle {
    font-size: 14px;
    /* margin: 10px 0; */
  }

  .faq__button {
    width: 32px;
    height: 32px;
  }

  .faq__text {
    font-size: 12px;
  }
}
