  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/style/index-9.v6.css">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bread2077/temp/main/style/new-style.v10.css">
<section class="container">
			<div class="row align-center">
				<div class="col-md-6 col-xs-12 sec1__left">
					<h1>Накрутка просмотров в ВК</h1>
                  {% if not user['auth'] %}
                  <a href="/signup" class="btn btn__blue mt15 top-btn">Попробуйте!</a>
                  {% endif %}
				</div>
				<div class="col-md-6 col-xs-12 sec1__right">
					<img class="img-responsive" src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/teach.png" alt="">
				</div>
			</div>
		</section>
		<div class="container ">
			<h2 class="title">Накрутка VK</h2>
			<p class="textarea">
<p align="justify">Иногда, просто снять увлекательное видео, клип или написать интересный пост в VK является недостаточным условием для того, чтобы стать популярным на просторах этой социальной сети. Продвижение, особенно для новичков в этом деле, является неотъемлемой частью блоггинга. А именно количество просмотров, как-бы парадоксально это не звучало, и есть один из основных факторов ранжирования материалов во Вконтакте. В увеличении этого показателя может помочь накрутка просмотров в ВК от сервиса СММ-Прайм. Наша профессиональная помощь ускорит распространение вашего контента и поможет вам выйти в ТОП. </p>


			<h2 class="title margin-title">Цены на накрутку VK</h2>
			<div class="prices d-flex">
				<div class="price d-block__important">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/vk.png" alt="">
						<div class="price__item__title">Просмотры Клипов</div>
					</div>
					<div class="price__price">
						0.45₽
					</div>
					<p class="number">за 100 штук</p>
                  <button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
				<div class="price d-block__important">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/vk.png" alt="">
						<div class="price__item__title">Просмотры Видео</div>
					</div>
					<div class="price__price">
						0.45₽
					</div>
					<p class="number">за 100 штук</p>
					<button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
				<div class="price d-block__important">
					<div class="price__title">
						<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/vk.png" alt="">
						<div class="price__item__title">Просмотры поста</div>
					</div>
					<div class="price__price">
						0.3₽
					</div>
					<p class="number">за 100 штук</p>
					<button onclick="location.href = {% if user['auth'] %}'/'{% else %}'/signup'{% endif %}" class="btnn red__button red__button1">Заказать</button>
				</div>
			</div>
          <a href="/services" class="btn btn__blue btn__blue1">Посмотреть все цены</a>
			<div class="service__about">
				<div class="sevice__about_block">
					<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/startup.png" alt="">
					<div class="sevice__about_block__description">
						<div class="sevice__about_block__title">
							Быстро
							<br>
						</div>
						<p><br>Старт заказов в течение нескольких минут. Высокая скорость увелчения показателей.</p>
					</div>
				</div>
				<div class="sevice__about_block">
					<img src="https://cdn.rawgit.com/bread2077/temp/main/images/tap.png" alt="">
					<div class="sevice__about_block__description">
						<div class="sevice__about_block__title">
							Качественно
							<br>
						</div>
						<p><br>Мы гарантируем высокое качество наших услуг. Вы будете в восторге.</p>
					</div>
				</div>
				<div class="sevice__about_block">
					<img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/surface.png" alt="">
					<div class="sevice__about_block__description">
						<div class="sevice__about_block__title">
							Надежно
							<br>
						</div>
						<p><br>Полная конфиденциальность. Никто не узнает, что вы пользовались нашими услугами.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<h2 class="title margin-title">Отзывы</h2>
			<div class="feedback__slider fs">
				<div class="feedback">
					<div class="feedback__background"></div>
					<div class="feedback__title">Николай</div>
					<div class="feedback__stars">
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
					</div>
					<p class="feedback_text">Пользуюсь услугами сайта smmprime.com в течение продолжительного времени, и всё устраивает. Отзывчивая администрация, все заказы выполнили, результат соответствует ожиданиям, буду пользоваться сервисом ещё!</p>
				</div>
				<div class="feedback">
					<div class="feedback__background"></div>
					<div class="feedback__title">Дарья</div>
					<div class="feedback__stars">
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
					</div>
					<p class="feedback_text">Воспользовалась вашим сервисом в первый раз и осталась довольна. Возникла проблема с заказом, но работники сайта мне помогли и объяснили, в чём была проблема. Надеюсь на дальнейшее сотрудничество!</p>
				</div>
				<div class="feedback">
					<div class="feedback__background"></div>
					<div class="feedback__title">Анастасия</div>
					<div class="feedback__stars">
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
						<div class="star"><img src="https://cdn.rawgit.com/bread2077/temp/c27b6d051d5e8f29778471632fca4d391fc8df73/images/star.png" alt=""></div>
					</div>
					<p class="feedback_text">Отличный сайт, парни молодцы. Всё понятно и быстро, накрутка качественная.</p>
				</div>
			</div>
		</div>
