<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Анатолий Чуднов" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../style/typography.v2.css" />
    <link rel="stylesheet" href="../style/common.v2.css" />

    <link rel="stylesheet" href="../style/reg-menu.css" />

    <link rel="stylesheet" href="../dist/base.bf62d887ffeebbe2edd0.css" />
    <link rel="stylesheet" href="../dist/social.602229dacdbe52dda217.css" />
    <script defer src="../dist/base.bf62d887ffeebbe2edd0.js"></script>
    <script type="module" src="../scripts/pages/reg-menu.js"></script>
  </head>
  <body class="root">
    <nav class="reg-menu">
      <div class="reg-menu__long">
        <div class="title3 reg-menu__long-ballance">499.24 &#8381;</div>
        <a
          class="reg-menu__long-settings"
          href="/"
          aria-label="Перейти на страницу настроек"
        ></a>
        <ul class="list reg-menu__long-list">
          <li>
            <a class="title5 link reg-menu__long-item" href="/">
              <img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>Новый заказ</span>
            </a>
          </li>
          <li>
            <a class="title5 link reg-menu__long-item" href="/">
              <img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>История заказов</span>
            </a>
          </li>
          <li>
            <a class="title5 link reg-menu__long-item" href="/">
              <img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>Пополнить баланс</span>
            </a>
          </li>
          <li>
            <a class="title5 link reg-menu__long-item" href="/">
              <img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>Поддержка</span>
            </a>
          </li>
          <li>
            <a class="title5 link reg-menu__long-item" href="/"
              ><img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>Цены</span></a
            >
          </li>
          <li>
            <a class="title5 link reg-menu__long-item" href="/"
              ><img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>Партнерская программа</span></a
            >
          </li>
          <li>
            <a class="title5 link reg-menu__long-item" href="/"
              ><img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>Франшиза</span></a
            >
          </li>
          <li>
            <a class="title5 link reg-menu__long-item" href="/">
              <img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>API</span></a
            >
          </li>
          <li>
            <a class="title5 link reg-menu__long-item" href="/">
              <img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>Обновления услуг</span></a
            >
          </li>
          <li class="text1 reg-menu__long-item">
            <a class="title5 link reg-menu__long-item" href="/"
              ><img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>Бесплатная накрутка</span></a
            >
          </li>
          <li class="text1 reg-menu__long-item">
            <a class="title5 link reg-menu__long-item" href="/"
              ><img
                class="reg-menu__long-icon"
                src="../images/icons/reg-menu.png"
                alt=""
              /><span>Задания</span></a
            >
          </li>
        </ul>
        <div class="reg-menu__socials">
          <a class="reg-menu__social" href="/">
            <img
              class="reg-menu__social-icon"
              src="https://cdn.rawgit.com/bread2077/temp/main/images/tg1.svg"
              alt=""
            />
          </a>
          <a class="reg-menu__social" href="/">
            <img
              class="reg-menu__social-icon"
              src="https://cdn.rawgit.com/bread2077/temp/main/images/vk.svg"
              alt=""
            />
          </a>
        </div>
        <button
          class="text1 reg-menu__exit"
          onclick="location.href = '/logout'"
        >
          Выход
        </button>
      </div>
      <ul class="list reg-menu__short">
        <li>
          <a class="reg-menu__short-item" href="">
            <img
              class="reg-menu__short-item-img"
              src="../images/icons/history.svg"
              alt=""
            /><span class="menu">Мои заказы</span>
          </a>
        </li>
        <li>
          <a class="reg-menu__short-item" href="">
            <img
              class="reg-menu__short-item-img"
              src="../images/icons/list.svg"
              alt=""
            /><span class="menu">Услуги</span>
          </a>
        </li>
        <li class="reg-menu__short-item reg-menu__short-item-accent">
          <a class="reg-menu__accent-link" href="/asd"> </a>
        </li>
        <li class="reg-menu__short-item">
          <a class="reg-menu__short-item" href=""
            ><img
              class="reg-menu__short-item-img"
              src="../images/icons/money.svg"
              alt=""
            /><span class="menu">Пополнить</span></a
          >
        </li>
        <li>
          <button class="reg-menu__short-item reg-menu__button">
            <img
              class="reg-menu__short-item-img"
              src="../images/icons/burger.svg"
              alt=""
            /><span class="menu">Меню</span>
          </button>
        </li>
      </ul>
    </nav>
    <main class="content">
      <section
        class="social-intro {% if user['auth'] %} social-intro_reg-styled {% else %} social-intro_unreg-styled {% endif %}"
      >
        <div
          class="social-intro__wrapper {% if user['auth'] is same as(false) %} social-intro__wrapper_type_social social-intro__wrapper_type_vk {% endif %}"
        >
          <div class="social-intro__content">
            <div class="social-intro__container-text">
              <h1 class="social-intro__title">Франшиза</h1>
            </div>
            <div class="social-intro__container-image">
              <div class="social-intro__social social-intro__social_pos_up">
                <h3 class="social-intro__subtitle">Подписки</h3>
                <img
                  class="social-intro__icon"
                  src="https://cdn.rawgit.com/bread2077/temp/main/images/default-icons/user-icon.svg"
                  alt="Пользователь"
                />
                <p class="social-intro__count-container">
                  +<span
                    class="social-intro__count custom-counter"
                    data-start="0"
                    data-stop="1660"
                  ></span>
                </p>
              </div>
              <div class="social-intro__social social-intro__social_pos_buttom">
                <h3 class="social-intro__subtitle">Лайки</h3>
                <img
                  class="social-intro__icon"
                  src="https://cdn.rawgit.com/bread2077/temp/main/images/default-icons/like-icon.svg"
                  alt="Лайки"
                />
                <p class="social-intro__count-container">
                  +<span
                    class="social-intro__count custom-counter"
                    data-start="0"
                    data-stop="3500"
                  ></span>
                </p>
              </div>
              <img
                class="social-intro__image"
                src="https://cdn.rawgit.com/bread2077/temp/main/images/bg-social/vk/vk-phone.webp"
                alt="Телефон"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="child-benefits">
        <h2 class="title1-bold child-benefits__title">
          Что вы получаете приобретая франшизу накрутки от
          <span class="accent-text">SMMPRIME</span>?
        </h2>
        <div class="child-benefits__inner">
          <div class="child-benefits__card">
            <h3 class="title5-bold child-benefits__card-title">
              Вы можете посмотреть на функционал вашей будущей франшизы в
              демо-версии:
            </h3>
            <ul class="list child-benefits__card-list">
              <li
                class="child-benefits__card-item child-benefits__card-item_is-main"
              >
                <h4 class="text1 child-benefits__card-text">
                  Ссылка на демонстрационную версию:
                </h4>
                <a
                  class="text1 accent-link child-benefits__card-link"
                  href="paneltest.top/admin"
                  >paneltest.top/admin</a
                >
              </li>
              <li class="child-benefits__card-item">
                <h4 class="text1 child-benefits__card-text">Логин:</h4>
                <p class="text1 child-benefits__card-text">Admin</p>
              </li>
              <li class="child-benefits__card-item">
                <h4 class="text1 child-benefits__card-text">Пароль:</h4>
                <p class="text1 child-benefits__card-text">Adminadmin</p>
              </li>
            </ul>
          </div>
          <ul class="list child-benefits__list">
            <li class="text1 child-benefits__item">
              Свой собственный автоматизированный сервис накрутки в социальных
              сетях, сразу готов к работе с клиентами. Вы можете добавить любые
              услуги с нашего сайта к себе в сервис и поставить на них свою
              цену. Ваша наценка - ваша прибыль.
            </li>
            <li class="text1 child-benefits__item">
              Вы сможете менять оформление сервиса на ваш вкус, добавлять нужные
              страницы и тексты. Также в ваш сервис встроена CRM-система,
              которая позволяет отслеживать все - от регистрации до всех трат
              ваших клиентов
            </li>
            <li class="text1 child-benefits__item">
              Прием платежей осуществляется на ваши кошельки. В ваш сервис уже
              интегрированы все основные платежные системы - Юкасса, Enot,
              Freekassa, Robokassa и множество других решений, в том числе
              позволяющие принимать оплату из-за рубежа (Часть платежных систем
              требуют наличия ООО/ИП/Самозанятости, другие - нет).
            </li>
            <li class="text1 child-benefits__item">
              Обработка и выполнение заказов происходят автоматически - вам не
              нужно беспокоиться о технической части и проставлении заказов
              вручную, сервис все сделает за вас.
            </li>
            <li class="text1 child-benefits__item">
              Стоимость франшизы составляет всего 2000 рублей в месяц! Также мы
              предоставляем скидку 8% на все наши услуги владельцам франшизы.
            </li>
          </ul>
        </div>
      </section>
      <section class="child-form">
        <h2 class="title1-bold child-from__title">
          Заполните форму для приобретения
          <span class="accent-text">франшизы</span>
        </h2>
        <form class="child-form__form" action="">
          <!-- {% if errorForm %}
          <div
            class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}"
          >
            <button type="button" class="close" data-dismiss="alert">
              &times;
            </button>
            {{ errorFormMessage }}
          </div>
          {% endif %} -->
          <div class="child-form__item-container">
            <div class="child-form__info">
              <p class="text1 child-form__info-text">
                Здесь вы можете приобрести свой сайт для автоматической
                перепродажи услуг. Если у вас есть вопросы - можете задать их
                нашей поддержке. В поле выше необходимо указать домен, к
                которому вы хотите прикрепить свой сайт.
              </p>
              <ul class="list child-form__info-list">
                <li class="text1 child-form__info-item">ns1.perfectdns.com</li>
                <li class="text1 child-form__info-item">ns1.perfectdns.com</li>
              </ul>
            </div>
            <div class="child-form__item">
              <label for="domain" class="text1 child-form__label">Domain</label>
              <input
                id="domain"
                name="CreateOrderForm[domain]"
                class="text1 child-form__input"
                type="text"
              />
            </div>
          </div>
          <div class="child-form__item">
            <label
              for="createorderform-currency"
              class="text1 child-form__label"
              >Валюта</label
            >
            <div class="child-form__select-container">
              <select
                class="text1 child-form__select"
                id="createorderform-currency"
                name="CreateOrderForm[currency]"
                aria-required="true"
              >
                <option value="USD">United States Dollars (USD)</option>
                <option value="USD">United States Dollars (USD)</option>
                <option value="USD">United States Dollars (USD)</option>
                <option value="USD">United States Dollars (USD)</option>
                <option value="USD">United States Dollars (USD)</option>
              </select>
            </div>
          </div>
          <div class="child-form__item">
            <label
              for="createorderform-username"
              class="text1 child-form__label"
              >Admin username</label
            >
            <input
              id="createorderform-username"
              name="CreateOrderForm[username]"
              class="text1 child-form__input"
              type="text"
              aria-required="true"
            />
          </div>
          <div class="child-form__item">
            <label
              for="createorderform-password"
              class="text1 child-form__label"
              >Admin password</label
            >
            <input
              id="createorderform-password"
              name="CreateOrderForm[password]"
              class="text1 child-form__input"
              type="password"
              aria-required="true"
            />
          </div>
          <div class="child-form__item">
            <label
              for="createorderform-password_confirm"
              class="text1 child-form__label"
              >Подтвердить пароль</label
            >
            <input
              id="createorderform-password_confirm"
              name="CreateOrderForm[password_confirm]"
              class="text1 child-form__input"
              type="password"
              aria-required="true"
            />
          </div>
          <div class="child-form__item">
            <label for="domain" class="text1 child-form__label" for="price"
              >Цена за месяц</label
            >
            <input
              id="price"
              class="text1 child-form__input"
              type="text"
              readonly
              value="2000.00 ₽"
            />
          </div>
          <button
            class="btn btn_color_blue btn_size_small child-form__submit"
            type="submit"
          >
            Отправить
          </button>
        </form>
      </section>

      <a
        href="https://cdn.rawgit.com/bread2077/temp/main/files/manual_franshiza.pdf"
        class="link child-tutorial"
        download
      >
        <div class="child-tutorial__inner child-tutorial__inner_type_title">
          <h2 class="title2-bold child-tutorial__title">
            Инструкция по настройке сайта
          </h2>
        </div>

        <div class="child-tutorial__inner child-tutorial__inner_type_image">
          <img
            class="child-tutorial__image"
            src="https://cdn.rawgit.com/bread2077/temp/main/images/icons/download.png"
            alt=""
          />
        </div>
      </a>
      <section class="child-faq">
        <h2 class="title1-bold child-faq__title">
          <span class="accent-text">Ответы</span> на часто задаваемые вопросы
        </h2>
        <ul class="list child-faq__list">
          <!-- {% for item in faqList %}
            <li class="child-faq__item">
              <div class="child-faq__head-wrapper">
                <h3 class="title5-bold child-faq__item-title">{{ item.title }}</h3>
                <button
                  aria-label="Открыть описани"
                  class="btn-rounded spoiler-btn child-faq__button"
                ></button>
              </div>
              <div class="child-faq__item-description-wrapper">
                <p class="text1 child-faq__item-description">{{ item.description }}</p>
              </div>
            </li>
          {% endfor %} -->
          <li class="child-faq__item">
            <div class="child-faq__head-wrapper">
              <h3 class="title5-bold child-faq__item-title">
                Что я получаю после оплаты франшизы?
              </h3>
              <button
                class="btn-rounded spoiler-btn child-faq__button"
              ></button>
            </div>
            <div class="child-faq__item-description-wrapper">
              <p class="text1 child-faq__item-description">
                После оплаты франшизы вы получаете автоматизированный сервис, в
                котором вы можете настроить продажу услуг по накрутке в соц
                сетях. Платформа сразу же готова к работе, а навыки
                программирования не нужны
              </p>
            </div>
          </li>
          <li class="child-faq__item">
            <div class="child-faq__head-wrapper">
              <h3 class="title5-bold child-faq__item-title">
                Помогаете ли вы разобраться, как все работает?
              </h3>
              <button
                class="btn-rounded spoiler-btn child-faq__button"
              ></button>
            </div>
            <div class="child-faq__item-description-wrapper">
              <p class="text1 child-faq__item-description">
                Да, конечно! Если у вас будут возникать вопросы - пишите нам,
                проконсультируем по настройке вашего сервиса, расскажем, как все
                работает, если что-то будет непонятно
              </p>
            </div>
          </li>
          <li class="child-faq__item">
            <div class="child-faq__head-wrapper">
              <h3 class="title5-bold child-faq__item-title">
                Как получить скидку 8% на услуги после покупки франшизы?
              </h3>
              <button
                class="btn-rounded spoiler-btn child-faq__button"
              ></button>
            </div>
            <div class="child-faq__item-description-wrapper">
              <p class="text1 child-faq__item-description">
                Для получения скидки вам необходимо полностью оформить ваш
                сервис и подготовить его к запуску (подключить услуги и
                платежные системы) - после этого напишите нам и мы выдадим вам
                скидку!
              </p>
            </div>
          </li>
          <li class="child-faq__item">
            <div class="child-faq__head-wrapper">
              <h3 class="title5-bold child-faq__item-title">
                Я добавляю ваши услуги - клиент их заказывает. Как мне передать
                информацию о том, что я получил заказ?
              </h3>
              <button
                class="btn-rounded spoiler-btn child-faq__button"
              ></button>
            </div>
            <div class="child-faq__item-description-wrapper">
              <p class="text1 child-faq__item-description">
                Вам не нужно ничего делать - сервис все сделает автоматически!
                Когда ваш клиент делает заказ, вся информация отправляется нам
                автоматически и мы запускаем услугу в работу - с вашей стороны
                не нужно предпринимать никаких действий
              </p>
            </div>
          </li>
          <li class="child-faq__item">
            <div class="child-faq__head-wrapper">
              <h3 class="title5-bold child-faq__item-title">
                Можно ли менять язык сайта?
              </h3>
              <button
                class="btn-rounded spoiler-btn child-faq__button"
              ></button>
            </div>
            <div class="child-faq__item-description-wrapper">
              <p class="text1 child-faq__item-description">
                Да, есть перевод на несколько языков
              </p>
            </div>
          </li>
          <li class="child-faq__item">
            <div class="child-faq__head-wrapper">
              <h3 class="title5-bold child-faq__item-title">
                Можно ли менять дизайн сайта?
              </h3>
              <button
                class="btn-rounded spoiler-btn child-faq__button"
              ></button>
            </div>
            <div class="child-faq__item-description-wrapper">
              <p class="text1 child-faq__item-description">
                Да, дизайн сайта менять можно - либо через визуальный редактор
                (установлен по умолчанию), либо через код (включаем его по
                запросу)
              </p>
            </div>
          </li>
        </ul>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__section footer__section_type_copyright">
          <a href="/" class="link header__logo-container">
            <span class="logo-title logo-title_pos_footer"
              >SMM<span class="logo-accent">PRIME</span></span
            >
          </a>
          <p class="footer__copyright">
            &#169;2017-<span class="footer__current-data"></span>
          </p>
        </div>
        <div class="footer__section footer__section_type_meta">
          <p class="footer__text">
            *продукт компании Meta - признано экстремисткой организацией и
            запрещено в России.
          </p>
        </div>
        <div class="footer__section footer__section_type_social">
          <a
            target="_blank"
            href="https://vk.com/smmprime"
            class="footer__social"
          >
            <img
              class="footer__social-logo"
              src="https://cdn.rawgit.com/bread2077/temp/main/images/socials/vk-icon.svg"
              alt="Вконтакте"
            />
          </a>
          <a target="_blank" href="https://t.me/SmPrim" class="footer__social">
            <img
              class="footer__social-logo"
              src="https://cdn.rawgit.com/bread2077/temp/main/images/socials/telegram-icon.svg"
              alt="Телеграм"
            />
          </a>
        </div>
        <div class="footer__section footer__section_type_up">
          <a href="#" class="footer__link-up"></a>
        </div>
        <div class="footer__section footer__section_type_company">
          <a
            href="#"
            class="link footer__subtitle-link footer__link_type_upper-menu"
            >SMMPRIME</a
          >
          <div class="footer__company-container">
            <ul class="footer__links">
              <li>
                <a href="/terms" class="link footer__link">Правила и условия</a>
              </li>
              <li class="footer__link">
                <a href="/oferta" class="link footer__link">Оферта</a>
              </li>
            </ul>
            <a href="/api" class="link footer__subtitle-link">API</a>
          </div>
        </div>
        <div class="footer__section footer__section_type_services">
          <a
            href="#"
            class="link footer__subtitle-link footer__link_type_upper-menu"
            >Услуги</a
          >
          <ul class="footer__links">
            <li>
              <a href="#" class="link footer__link footer__link_type_menu"
                >Instagram*</a
              >
              <ul class="footer__sublinks footer__links_type_sublist">
                <li>
                  <a href="/instagram" class="link footer__link">Главная</a>
                </li>
                <li>
                  <a href="/instlayki" class="link footer__link">Лайки</a>
                </li>
                <li>
                  <a href="/instpodpischiki" class="link footer__link"
                    >Подписчики</a
                  >
                </li>
                <li>
                  <a href="/instprosmotry" class="link footer__link"
                    >Просмотры</a
                  >
                </li>
                <li>
                  <a href="/instagolosa" class="link footer__link">Голоса</a>
                </li>
                <li>
                  <a href="/instareposty" class="link footer__link">Репосты</a>
                </li>
                <li>
                  <a href="/instakommentarii" class="link footer__link"
                    >Комментарии</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="link footer__link footer__link_type_menu"
                >ТikTok</a
              >
              <ul class="footer__sublinks footer__links_type_sublist">
                <li><a href="/tiktok" class="link footer__link">Главная</a></li>
                <li>
                  <a href="/ttprosmotry" class="link footer__link">Просмотры</a>
                </li>
                <li>
                  <a href="/ttpodpischiki" class="link footer__link"
                    >Подписчики</a
                  >
                </li>
                <li><a href="/ttlayki" class="link footer__link">Лайки</a></li>
                <li>
                  <a href="/ttkommentarii" class="link footer__link"
                    >Комментарии</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="link footer__link footer__link_type_menu"
                >YouTube</a
              >
              <ul class="footer__sublinks footer__links_type_sublist">
                <li>
                  <a href="/youtube" class="link footer__link">Главная</a>
                </li>
                <li>
                  <a href="/ytpodpischiki" class="link footer__link"
                    >Подписчики</a
                  >
                </li>
                <li>
                  <a href="/ytprosmotry" class="link footer__link">Просмотры</a>
                </li>
                <li><a href="/ytlayki" class="link footer__link">Лайки</a></li>
                <li>
                  <a href="/ytkommentarii" class="link footer__link"
                    >Комментарии</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="link footer__link footer__link_type_menu"
                >Telegram</a
              >
              <ul class="footer__sublinks footer__links_type_sublist">
                <li>
                  <a href="/telegram" class="link footer__link">Главная</a>
                </li>
                <li>
                  <a href="/tgpodpischiki" class="link footer__link"
                    >Подписчики</a
                  >
                </li>
                <li>
                  <a href="/tgprosmotry" class="link footer__link">Просмотры</a>
                </li>
                <li>
                  <a href="/tgreakcii" class="link footer__link">Реакции</a>
                </li>
                <li>
                  <a href="/tggolosovaniya" class="link footer__link"
                    >Голосования</a
                  >
                </li>
                <li>
                  <a href="/tgkommentarii" class="link footer__link"
                    >Комментарии</a
                  >
                </li>
                <li>
                  <a href="/tgreposty" class="link footer__link">Репосты</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="link footer__link footer__link_type_menu"
                >VK</a
              >
              <ul class="footer__sublinks footer__links_type_sublist">
                <li>
                  <a href="/vkontakte" class="link footer__link">Главная</a>
                </li>
                <li>
                  <a href="/vkpodpischiki" class="link footer__link"
                    >Подписчики</a
                  >
                </li>
                <li>
                  <a href="/vkprosmotry" class="link footer__link">Просмотры</a>
                </li>
                <li><a href="/vklayki" class="link footer__link">Лайки</a></li>
                <li>
                  <a href="/vkoprosy" class="link footer__link">Опросы</a>
                </li>
                <li>
                  <a href="/vkproslushivaniya" class="link footer__link"
                    >Прослушивания</a
                  >
                </li>
                <li>
                  <a href="/vkkommentarii" class="link footer__link"
                    >Комментарии</a
                  >
                </li>
                <li>
                  <a href="/vkdruzya" class="link footer__link">Друзья</a>
                </li>
                <li>
                  <a href="/vkreposty" class="link footer__link">Репосты</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/facebook" class="link footer__link">Facebook*</a>
            </li>
          </ul>
        </div>
        <div class="footer__section footer__section_type_contacts">
          <h3 class="footer__subtitle">Контакты</h3>
          <ul class="footer__contact-container">
            <li class="footer__contact">
              <h4 class="footer__contact-title">Технические вопросы</h4>
              <a
                href="mailto:smmprime@mail.ru?subject=Smmprime.NewMessame"
                class="link footer__link"
                >smmprime@mail.ru</a
              >
            </li>
            <li class="footer__contact">
              <h4 class="footer__contact-title">Вопросы позаказам</h4>
              <a
                href="https://t.me/Smmprimesupportbot"
                class="link footer__link"
                >Поддержка в Телеграм</a
              >
            </li>
            <li class="footer__contact">
              <h4 class="footer__contact-title">
                Время работы онлайн тех.поддержки
              </h4>
              <p class="footer__link">пн-вс с 10 до 22</p>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="popup popup_type_image">
      <div class="popup__image-container">
        <button
          type="button"
          class="popup__close popup__close_type_image popup__close_col_white"
        ></button>
        <img class="popup__image" src="" alt="" />
      </div>
    </div>
  </body>
</html>
