.footer {
  width: 100%;
  background-color: var(--bg-color-primary);
  padding: 82px 0 74px;
  box-sizing: border-box;
}
.footer__container {
  display: grid;
  grid-template-areas:
  "copyright company services contacts social"
  "meta . . . up";
  max-width: var(--width-max);
  margin: 0 auto;
  gap: 30px 70px;
}
.footer__section_type_copyright {
  grid-area: copyright;
}
.footer__section_type_meta {
  grid-area: meta;
}
.footer__section_type_social {
  grid-area: social;
  display: flex;
  gap: 24px;
}
.footer__section_type_up {
  grid-area: up;
  display: flex;
  justify-content: flex-end;
}
.footer__section_type_company {
  grid-area: company;
}
.footer__section_type_services {
  grid-area: services;
}
.footer__section_type_contacts {
  grid-area: contacts;
}
.footer__links,
.footer__contact-container,
.footer__sublinks {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer__sublinks {
  padding: 0 0 10px;
  gap: 10px;
}
.footer__contact-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-dark);
  margin: 0 0 4px;
}
.footer__links {
  gap: 10px;
  margin-top: 20px;
}
.footer__links_type_sublist {
  display: none;
  transform: translateY(5%);
  transition: all .1s linear;
  position: absolute;
}
.footer__company-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__contact-container {
  gap: 20px;
  margin-top: 20px;
}
.footer__subtitle,
.footer__subtitle-link {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #1A142D;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.footer__subtitle-link {
  text-decoration: none;
}
.footer__link {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-dark);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.footer__text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.25;
  color: var(--color-semi-dark);
}
.footer__copyright {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.25;
  color: var(--color-semi-dark);
  margin: 20px 0 0;
}
.footer__link-up {
  --width-link-up: 48px;
  display: inline-block;
  width: var(--width-link-up);
  height: var(--width-link-up);
  background-color: var(--color-secondary);
  border-radius: 50%;
  position: relative;
}
.footer__link-up::after {
  content: '';
  background-image: url('../../images/white-arrow-up.svg');
  background-size: cover;
  background-position: contain;
  height: 24px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__social {
  text-decoration: none;
}
.footer__social-logo {
  --width-footer-logo: 40px;
  width: var(--width-footer-logo);
  height: var(--width-footer-logo);
}
.footer__link_type_menu::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  background-image: url('../../images/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 8px;
  transition: all .4s linear;
}

@media screen and (max-width: 1160px) {
  .footer__container {
    margin: 0 30px;
  }
}

@media screen and (max-width: 1023px) {
  .footer__container {
    grid-template-areas:
    "copyright company up"
    "services contacts social"
    "meta meta .";
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 60px 0;
  }
  .footer__container {
    grid-template-areas:
    "copyright up"
    "company company"
    "services services"
    "contacts contacts"
    "social social"
    "meta meta";
    gap: 30px 70px;
  }
  .footer__company-container {
    gap: 10px;
  }
  .footer__copyright {
    margin: 8px 0 0;
  }
  .footer__subtitle-link,
  .footer__subtitle {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .footer__links {
    margin-top: 0;
  }
  .footer__link {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .footer__link-up {
    --width-link-up: 32px;
  }
  .footer__link-up::after {
    height: 16px;
    width: 8px;
  }
  .footer__social-logo {
    --width-footer-logo: 32px;
  }
  .footer__text {
    font-size: 10px;
  }
  .footer__link_type_upper-menu::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 10px;
    background-image: url('../../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 8px;
    transition: all .4s linear;
  }
  .footer__link_type_upper-menu_opened::after {
    transform: scale(-1, -1);
  }
  .footer__links_type_upper-sublist {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: all .1s linear;
    position: absolute;
  }
  .footer__links_type_upper-sublist_opened {
    position: relative;
    visibility: visible;
    opacity: 1;
    margin-top: 3%;
  }
  .logo-title_pos_footer {
    font-size: 17.5px;
  }
}

.link_type_menu_opened::after {
  transform: scale(-1, -1);
}

.links-sublist_opened {
  display: flex;
  position: relative;
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 3%;
}


