.optimization {
  max-width: var(--width-max);
  padding: calc(var(--space-primary) + 20px) 0;
  margin: 0 auto;
  justify-content: center;
  column-gap: 40px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 560px));
}
.optimization_type_single {
  grid-template-columns: 100%;
}
.optimization_role_main {
  grid-template-areas:
    'title .'
    'review culc';
}
.optimization_role_social {
  grid-template-areas:
    'title label'
    'review label';
}

.optimization__description {
  grid-area: review;
  justify-content: start;
  padding: 0 32px;
}

.optimization__description_pos_center {
  justify-content: center;
}

.optimization__title {
  grid-area: title;
  color: var(--color-dark);
  margin: 0 0 20px;
  padding: 0 32px;
}

.optimization__title_type_secondary {
  padding: 0;
}

.optimization__text {
  color: var(--color-semi-dark);
  margin: 0 0 40px;
}

.optimization__culc {
  grid-area: culc;
  box-shadow: 0px 4px 20px rgba(178, 185, 220, 0.43);
  border-radius: 20px;
  padding: 32px 0;
  box-sizing: border-box;
  align-self: flex-start;
  position: relative;
}

.optimization__label {
  grid-area: label;
  position: relative;
}
.optimization__label_role_block::before {
  content: '';
  background-image: url('https://cdn.rawgit.com/bread2077/temp/main/images/orange-empty-star.svg');
  background-position: center;
  background-size: 150px 150px;
  position: absolute;
  width: 150px;
  height: 150px;
  top: -10%;
  left: 30%;
  transform: translateX(-50%);
  z-index: -1;
}
.optimization__label_role_block::after {
  content: '';
  background-image: url('https://cdn.rawgit.com/bread2077/temp/main/images/blue-empty-star.svg');
  background-position: center;
  background-size: 250px;
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
  z-index: -1;
}
.optimization__label-container {
  background-image: url('https://cdn.rawgit.com/bread2077/temp/main/images/bg-star.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.optimization__label-container_role_bg {
  background-size: 161px;
  min-height: 160px;
  min-width: 160px;
  transform: rotate(9.28deg);
  position: absolute;
  top: -112px;
  right: -32px;
  z-index: 0;
}
.optimization__label-container_role_block {
  transform: rotate(15.1deg);
  background-size: 361px;
  min-height: 360px;
  min-width: 360px;
  position: relative;
  z-index: 1;
}
.optimization__label-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  margin: 0 auto 10px;
}
.optimization__label-title_role_primary {
  font-size: 18px;
  max-width: 105px;
}
.optimization__label-title_role_secondary {
  font-size: 40px;
  max-width: 242px;
}
.optimization__label-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.optimization__label-text_role_primary {
  font-size: 12px;
  max-width: 105px;
}

.optimization__label-text_role_secondary {
  font-size: 27px;
  max-width: 242px;
}

.optimization__proposal {
  justify-self: start;
}

.optimization__proposal_pos_center {
  justify-self: center;
}

.optimization__choice-title,
.optimization__subtitle {
  text-align: left;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.optimization__subtitle {
  max-width: 350px;
  margin: 0 0 24px;
  padding: 0 0 0 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.optimization__subtitle_type_black,
.optimization__choice-title_type_black {
  text-align: center;
  color: var(--color-dark);
  margin: 0 auto 24px;
  padding: 0;
}

.optimization__title_type_black {
  max-width: 520px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: var(--color-dark);
}

.optimization__list,
.optimization__sublist {
  justify-content: flex-start;
  padding: 0 32px;
}

.optimization__list_pos_center,
.optimization__sublist_pos_center {
  justify-content: center;
}

.optimization__review {
  grid-template-areas:
    'avatar review'
    '. name';
  grid-template-columns: min-content 1fr;
  gap: 16px 20px;
}

.optimization__quote {
  position: relative;
  z-index: 1;
  padding: 32px 20px;
  max-width: 560px;
}

.optimization__quote::before,
.optimization__quote::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.optimization__quote::before {
  top: 78px;
  left: -36px;
  border-right: 25px solid transparent;
  border-bottom: 46px solid var(--color-secondary);
  transform: scale(1, -1) rotate(270deg) skew(30deg);
  z-index: -1;
}

.optimization__quote::after {
  top: 82px;
  left: -30px;
  border-right: 21px solid transparent;
  border-bottom: 42px solid #fff;
  transform: scale(1, -1) rotate(270deg) skew(30deg);
  z-index: -1;
}

.optimization__name {
  justify-self: end;
}

@media screen and (max-width: 1160px) {
  .optimization {
    padding: var(--space-primary) 30px;
  }
}

@media screen and (max-width: 1023px) {
  .optimization {
    grid-template-columns: 100%;
    gap: 0;
    overflow: hidden;
    grid-auto-rows: min-content;
  }

  .optimization_role_main {
    grid-template-areas:
      'title'
      'review'
      'culc';
  }
  .optimization_role_social {
    grid-template-areas:
      'title'
      'review'
      'label';
  }

  .optimization__review {
    grid-template-areas:
      'review review'
      'avatar name';
    gap: 34px 16px;
  }

  .optimization__title {
    padding: 0;
  }
  .optimization__title_type_black {
    font-size: 26px;
    padding: 0 10px;
  }

  .optimization__proposal_pos_center {
    justify-self: start;
  }

  .optimization__quote {
    padding: 22px 16px;
  }

  .optimization__quote::before {
    top: 100%;
    left: 70px;
    border-right: 25px solid transparent;
    border-bottom: 35px solid var(--color-secondary);
    transform: scale(-1, 1) rotate(180deg) skew(20deg);
  }

  .optimization__quote::after {
    top: 100%;
    left: 72px;
    border-right: 21px solid transparent;
    border-bottom: 32px solid #fff;
    transform: scale(-1, 1) rotate(180deg) skew(20deg);
  }

  .optimization__culc {
    border-radius: 10px;
    margin: 80px 0 0;
  }

  .optimization__list,
  .optimization__sublist {
    padding: 0 0 0 10px;
  }
  .optimization__list_pos_center,
  .optimization__sublist_pos_center {
    justify-content: flex-start;
  }
  .optimization__label_role_block {
    margin-top: 30px;
    display: grid;
    justify-content: end;
  }
  .optimization__label-container_role_block {
    background-size: 223px;
    min-height: 223px;
    min-width: 223px;
  }

  .optimization__label-container_role_bg {
    top: -88px;
    right: -38px;
    background-size: 130px;
    min-height: 130px;
    min-width: 130px;
  }

  .optimization__label-title_role_primary {
    max-width: 105px;
    font-size: 15px;
    margin: 0 auto 3px;
  }
  .optimization__label-text_role_primary {
    max-width: 105px;
    font-size: 10px;
  }
  .optimization__label-title_role_secondary {
    max-width: 146px;
    font-size: 25px;
  }
  .optimization__label-text_role_secondary {
    max-width: 146px;
    font-size: 17px;
  }

  .optimization__choice-title {
    font-size: 14px;
  }

  .optimization__subtitle {
    max-width: calc(100% / 1.3);
    font-size: 14px;
    padding: 0 0 0 10px;
  }
  .optimization__subtitle_type_black,
  .optimization__choice-title {
    text-align: left;
    margin: 0 0 24px;
  }

  .optimization__description {
    margin: 20px 0 0 10px;
    padding: 0;
  }
  .optimization__description_pos_center {
    justify-content: start;
  }
}

@media screen and (max-width: 600px) {
  .optimization__label_role_block::before {
    background-size: 92px;
    width: 92px;
    height: 92px;
    top: -10%;
    left: 40%;
  }
  .optimization__label_role_block::after {
    background-size: 154px;
    width: 154px;
    height: 154px;
    bottom: -10%;
    left: 30%;
  }
}
