.optimization {
  max-width: var(--width-max);
  padding: calc(var(--space-primary) + 20px) 0;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "title ."
  "review culc";
  grid-template-columns: repeat(2, minmax(320px, 560px));
  justify-content: center;
  column-gap: 40px
}

.optimization__description {
  grid-area: review;
  justify-content: start;
  padding: 0 32px;
}

.optimization__title {
  grid-area: title;
  color: var(--color-dark);
  margin: 0 0 20px;
}
.optimization__text {
  color: var(--color-semi-dark);
  margin: 0 0 40px;
}

.optimization__culc {
  grid-area: culc;
  box-shadow: 0px 4px 20px rgba(178, 185, 220, 0.43);
  border-radius: 20px;
  padding: 32px 0;
  box-sizing: border-box;
  align-self: flex-start;
  position: relative;
}

.optimization__label {
  transform: rotate(9.28deg);
  position: absolute;
  top: -72px;
  right: -22px;
  background-image: url('../../images/bg-star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 161px;
  min-height: 160px;
  margin: 0 auto;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.optimization__label-title {
  max-width: 105px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  margin: 0 auto 10px;
}
.optimization__label-text {
  max-width: 105px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.optimization__proposal {
  justify-self: start;
}

.optimization__choice-title,
.optimization__subtitle {
  text-align: left;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.optimization__subtitle {
  max-width: 350px;
  margin: 0 0 24px;
  padding: 0 0 0 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-secondary)
}
.optimization__list,
.optimization__sublist {
  justify-content: flex-start;
  padding: 0 32px;
}

.optimization__review {
  grid-template-areas:
  "avatar review"
  ". name";
  grid-template-columns: min-content 1fr;
  gap: 16px 20px;
}

.optimization__quote {
  position: relative;
  z-index: 1;
  padding: 32px 20px;
  max-width: 560px;
}

.optimization__quote::before,
.optimization__quote::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.optimization__quote::before {
  top: 78px;
  left: -36px;
  border-right: 25px solid transparent;
  border-bottom: 46px solid var(--color-secondary);
  transform: scale(1, -1) rotate(270deg) skew(30deg);
  z-index: -1;
}

.optimization__quote::after {
  top: 82px;
  left: -30px;
  border-right: 21px solid transparent;
  border-bottom: 42px solid #fff;
  transform: scale(1, -1) rotate(270deg) skew(30deg);
  z-index: -1;
}

.optimization__name {
  justify-self: end;
}

@media screen and (max-width: 1160px) {
  .optimization {
    padding: var(--space-primary) 30px;
  }
}

@media screen and (max-width: 1023px) {
  .optimization {
    grid-template-columns: 100%;
    grid-template-areas:
    "title"
    "review"
    "culc";
    gap: 0;
    overflow: hidden;
  }

  .optimization__review {
    grid-template-areas:
    "review review"
    "avatar name";
    gap: 34px 16px;
  }

  .optimization__quote {
    padding: 22px 16px;
  }

  .optimization__quote::before {
    top: 100%;
    left: 70px;
    border-right: 25px solid transparent;
    border-bottom: 35px solid var(--color-secondary);
    transform: scale(-1, 1) rotate(180deg) skew(20deg);
  }

  .optimization__quote::after {
    top: 100%;
    left: 72px;
    border-right: 21px solid transparent;
    border-bottom: 32px solid #fff;
    transform: scale(-1, 1) rotate(180deg) skew(20deg);
  }

  .optimization__culc {
    border-radius: 10px;
    margin: 80px 0 0;
  }

  .optimization__list,
  .optimization__sublist {
    padding: 0 0 0 10px;
  }

  .optimization__label {
    top: -88px;
    right: -38px;
    background-size: 130px;
    min-height: 130px;
    min-width: 130px;
  }

  .optimization__label-title {
    max-width: 105px;
    font-size: 15px;
    margin: 0 auto 3px;
  }
  .optimization__label-text {
    max-width: 105px;
    font-size: 10px;
  }

  .optimization__choice-title {
    font-size: 14px;
  }

  .optimization__subtitle {
    max-width: calc(100% / 1.3);
    font-size: 14px;
    padding: 0 0 0 10px
  }

  .optimization__services {}
  .optimization__description  {
    margin: 20px 0 0;
    padding: 0 10px;
  }
}
