.optimization {
  max-width: var(--width-max);
  margin: calc(var(--space-primary) + 20px) auto;
  display: grid;
  grid-template-areas:
  "title ."
  "review culc";
  grid-template-columns: repeat(2, minmax(320px, 560px));
  justify-content: center;
  column-gap: 40px
}

.optimization__description {
  grid-area: review;
  justify-content: start;
}

.optimization__title {
  grid-area: title;
  color: var(--color-dark);
  margin: 0 0 20px;
}
.optimization__text {
  color: var(--color-semi-dark);
  margin: 0 0 40px;
}

.optimization__culc {
  grid-area: culc;
  box-shadow: 0px 4px 20px rgba(178, 185, 220, 0.43);
  border-radius: 20px;
  padding: 32px;
  box-sizing: border-box;
  align-self: flex-start;
}

.optimization__proposal {
  justify-self: start;
}

.optimization__choice-title,
.optimization__subtitle {
  text-align: left;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.optimization__subtitle {
  max-width: 350px;
  margin: 0 0 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-secondary)
}
.optimization__list,
.optimization__sublist {
  justify-content: flex-start;
  padding: 0;
}
.optimization__services {}
.optimization__subtitle {}
.optimization__sublist {}
.optimization__culc-description {}
.optimization__proposal {}
.optimization__cost {}
.optimization__amount {}

.optimization__review {
  grid-template-areas:
  "avatar review"
  ". name";
  grid-template-columns: min-content 1fr;
  gap: 16px 20px;
}

.optimization__quote {
  position: relative;
  z-index: 1;
  padding: 32px 20px;
  max-width: 560px;
}

.optimization__quote::before,
.optimization__quote::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.optimization__quote::before {
  top: 78px;
  left: -36px;
  border-right: 25px solid transparent;
  border-bottom: 46px solid var(--color-secondary);
  transform: scale(1, -1) rotate(270deg) skew(30deg);
  z-index: -1;
}

.optimization__quote::after {
  top: 82px;
  left: -30px;
  border-right: 21px solid transparent;
  border-bottom: 42px solid #fff;
  transform: scale(1, -1) rotate(270deg) skew(30deg);
  z-index: -1;
}

.optimization__name {
  justify-self: end;
}

@media screen and (max-width: 1160px) {
  .optimization {
    margin: var(--space-primary) 30px;
  }
}

@media screen and (max-width: 1023px) {
  .optimization {
    grid-template-columns: 100%;
    grid-template-areas:
    "title"
    "review"
    "culc";
    gap: 0;
  }

  .optimization__review {
    grid-template-areas:
    "review review"
    "avatar name";
    gap: 34px 16px;
  }

  .optimization__quote {
    padding: 22px 16px;
  }

  .optimization__quote::before {
    top: 100%;
    left: 70px;
    border-right: 25px solid transparent;
    border-bottom: 35px solid var(--color-secondary);
    transform: scale(-1, 1) rotate(180deg) skew(20deg);
  }

  .optimization__quote::after {
    top: 100%;
    left: 72px;
    border-right: 21px solid transparent;
    border-bottom: 32px solid #fff;
    transform: scale(-1, 1) rotate(180deg) skew(20deg);
  }

  .optimization__culc {
    border-radius: 10px;
    padding: 32px 10px;
    margin: 40px 0 0;
  }

  .optimization__choice-title,
  .optimization__subtitle {
    font-size: 14px;
  }

  .optimization__description  {
    margin: 20px 0 0;
  }
}
