.menu-burger__item {
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 24px;
  transform: translate(-50%, -50%);
}

.menu-burger__item::before {
  content: '';
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--color-primary);
  transition: all .4s ease-in-out;
}

.menu-burger__item:nth-child(1)::before {
  top: -8px;
}

.menu-burger__item:nth-child(2)::before,
.menu-burger__item:nth-child(3)::before {
  top: 0px;
}

.menu-burger__item:nth-child(4)::before {
  top: 8px;
}
