.rating {
  max-width: var(--width-max);
  margin: 0 auto calc(var(--space-primary));
  transform: translateY(-50%);
}
.rating__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(71px, 260px));
  gap: 40px;
}
.rating__item {
  background: #fff;
  box-shadow: 0px 4px 20px rgba(178, 185, 220, 0.43);
  border-radius: 20px;
  padding: 40px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rating__logo-container {
  --logo-width: 74px;
  width: var(--logo-width);
  height: var(--logo-width);
  border-radius: 50%;
  background: #fff;
  border: 1.5px solid var(--color-primary);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating__logo {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}
.rating__grade {
  text-align: center;
  margin: 0 0 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-primary)
}
.rating__count {
  text-align: center;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 114%;
  color: var(--color-dark);
}

@media screen and (max-width: 1160px) {
  .rating {
    margin: 0 30px 30px;
  }
}

@media screen and (max-width: 800px) {
  .rating {
  }
  .rating__list {
    gap: 6px;
  }
  .rating__item {
    border-radius: 5px;
    padding: 20px 5px 10px;
  }
  .rating__logo-container {
    --logo-width: 37px;
    border: .5px solid var(--color-primary);
  }
  .rating__logo {
    width: 70%;
    height: 70%;
    /* object-fit: contain; */

  }
  .rating__grade {
    font-size: 16px;
  }
  .rating__count {
    font-size: 7px;
  }
}
